<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- content -->
<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
    <div class="bon-wrap">
        <div class="div-m">
            <div class="susu-wrap-m">
                <div class="admin-top-wrap-m">
                    <div class="chart-wrap-mm mnm-mm" >
                        <div class="fl-mk">
                            <h4 class="main-num-m">[[${list[0].num}]]</h4>
                            <p style="font-size: 15px">총 회원</p>
                        </div>
                        <div style="font-size: 25px; color: #668dca">
                            <i class="ri-group-line"></i>
                        </div>
                    </div>
                    <div class="chart-wrap-mm mnm-mm" >
                        <div class="fl-mk">
                            <h4 class="main-num-m tata-m"></h4>
                            <p style="font-size: 15px">교육자수</p>
                        </div>
                        <div style="font-size: 25px; color: #668dca">
                            <i class="ri-graduation-cap-line"></i>
                        </div>
                    </div>
                    <div class="chart-wrap-mm mnm-mm" >
                        <div class="fl-mk">
                            <h4 class="main-num-m stsm"></h4>
                            <p style="font-size: 15px">학생수</p>
                        </div>
                        <div style="font-size: 25px; color: #668dca">
                            <i class="ri-account-circle-line"></i>
                        </div>
                    </div>
                    <div class="chart-wrap-mm mnm-mm" >
                        <div class="fl-mk">
                            <h4 class="main-num-m" style="font-size: 17px">인기상품</h4>
                            <p style="color:  blueviolet;">[[${list[1].k}]]</p>
                        </div>
                        <div style="font-size: 25px; color: #668dca">
                            <i class="ri-shining-line"></i>
                        </div>
                    </div>
                    <div class="chart-wrap-mm mnm-mm" >
                        <div class="fl-mk">
                            <h4 class="main-num-m" style="font-size: 17px">이번달 매출</h4>
                            <p>[[${list[12].num}]] <span style="font-size: 15px">원</span></p>
                        </div>
                        <div style="font-size: 25px; color: #668dca">
                            <i class="ri-hand-coin-line"></i>
                        </div>
                    </div>
                </div>

                <div class="admin-main-wrap-m">
                    <div class="ad-wrap-mm chart-wrap-mm" style="width: 700px">
                        <div class="small-title-m">
                            <i class="ri-circle-fill"></i><h5>일일 가입자 수</h5>
                        </div>
                        <div class="ch-mm">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <div class="ad-wrap-mm chart-wrap-mm" style="width: 350px">
                        <div class="small-title-m">
                            <i class="ri-circle-fill"></i><h5>회원 구독비율</h5>
                        </div>
                        <div class="ch-mm">
                            <canvas id="myChartt"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</th:block>


<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script th:inline="javascript">
    const ctx = document.getElementById('myChart');
    const ctxtwo =document.getElementById('myChartt');
    var list = JSON.parse(`[[${list}]]`);

    



    // dataweek 배열 초기화
    const dataweek = [];

    const lb = [];
    for (let j = 2; j <= 11; j++) {
        lb.push(list[j].k);
        dataweek.push(list[j].num);
    }
    
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: lb,
            datasets: [{
                label: '이용자',
                data: dataweek,
                backgroundColor: ['rgba(54, 162, 235, 1)', // 빨간색
                    'rgba(54, 162, 235, 1)', // 파란색
                    'rgba(54, 162, 235, 1)', // 노란색
                    'rgba(54, 162, 235, 1)', // 초록색
                    'rgba(54, 162, 235, 1)', // 보라색
                ],
                borderColor: ['rgba(54, 162, 235, 1)', // 빨간색
                    'rgba(54, 162, 235, 1)', // 파란색
                    'rgba(54, 162, 235, 1)', // 노란색
                    'rgba(54, 162, 235, 1)', // 초록색
                    'rgba(54, 162, 235, 1)', // 보라색
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true, // false로 설정하여 차트 크기를 조절
            scales: {
                x: {
                    grid: {
                        display: false // x축의 그리드 선 숨기기
                    }
                },
                y: {
                    beginAtZero: true,

                    grid: {
                        display: false // y축의 그리드 선 숨기기
                    },

                }

            }
        }
    });
    var teach = 0;

    const tier = [];
    for (let i = 13; i <= list.length -1; i++) {
        const item = list[i]; // 배열의 i번째 아이템을 가져옴

        if (item.k === null) {
            $(".stsm").html(item.num);

        } else {
            // 요소가 null이 아닌 경우, 해당 값을 tier에 추가
            tier.push({ k: item.k, num: item.num });
            teach += item.num;
        }
    }
    var lbs =[];
    var datas = [];
    for (let k = 0; k <= tier.length -1 ; k++) {
        lbs.push(tier[k].k);
        datas.push(tier[k].num);
    }
    $(".tata-m").html(teach);
    new Chart(ctxtwo,{
        type: 'doughnut',
        data: {
            labels:lbs,
            datasets: [{
                label: 'My First Dataset',
                data: datas,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]

        }


    });



</script>
</body>
</html>