<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- content -->
<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
    <div class="bon-wrap">
        <div class="bon-content-wrap" style="margin-bottom: 0;">
            <div class="small-title-m">
                <i class="ri-circle-fill"></i><h5>정보</h5>
            </div>

            <h3> 선생님 메인 페이지 </h3>
            <p> 기본정보 가져올거임</p>
        </div>
    </div>
</th:block>

<script>

</script>

</body>
</html>