<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- content -->
<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
    <div class="bon-wrap">
        <div class="page-title">
            <p>숙제</p>
        </div>
        <div class="route-wrap">
            <a href="#">숙제 </a><p>/</p><a style="color: black;">내 숙제리스트</a>
        </div>
        <div class="bon-content-wrap">
            <div class="box-title-wrap">
                <h3>내 숙제리스트</h3>
                <input type="hidden" id="myid" th:value="${#authentication.principal.Username}">
            </div>
            <div class="content-box">
                <div class="top-inp">
                    <p>숙제([[${total}]])</p>
                    <div class="inp-wrap fle-center" style="margin-right: 10px; justify-content: end; ">
                        <div class="select-box">
                            <div class="select-box__current" tabindex="1">
                                <div class="select-box__value">
                                    <input class="select-box__input" type="radio" id="0" value="1" name="Ben" checked="checked"/>
                                    <p class="select-box__input-text">작업</p>
                                </div>
                                <div class="select-box__value">
                                    <input class="select-box__input" type="radio" id="1" value="2" name="Ben"/>
                                    <p class="select-box__input-text">수정</p>
                                </div>
                                <div class="select-box__value">
                                    <input class="select-box__input" type="radio" id="2" value="3" name="Ben"/>
                                    <p class="select-box__input-text">삭제</p>
                                </div>
                                <i class="ri-arrow-down-s-fill select-box__icon"></i>
                            </div>
                            <ul class="select-box__list">
                                <li>
                                    <label class="select-box__option f-t1" for="1" aria-hidden="aria-hidden">수정</label>
                                </li>
                                <li>
                                    <label class="select-box__option f-t2" for="2" aria-hidden="aria-hidden">삭제</label>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="regbtn-des" onclick="location.href='homeworkreg';">숙제 생성</button>
                        <button type="button" class="regbtn-des" id="addctg" >유형 관리</button>
                    </div>
                </div>
                <form class="search-wrap-m sts-m" action="/homework/homeworklist" method="get" style="margin-bottom: 0; padding-bottom: 0; padding-left: 0;">
                    <div class="top-line-btn-wrap" style="margin-bottom: 15px">
                        <input type="text" placeholder="제목을 검색해주세요" name="title" th:value="${pageVO.cri.title}" style="width: 300px">
                        <i class="ri-search-line"></i>

                    </div>
                    <div class="ssd-mm">
                        <input type="submit" class="sub-des" value="조회하기">
                    </div>
                </form>
                <form class="table-wrap" action="#" method="post" name="hoho-m">
                    <table class="table-content" >
                        <thead class="co-head">
                        <tr class="co-flex">

                            <th class="coco crcr-0 center-flex">#</th>
                            <th class="coco work-t1">No</th>
                            <th class="coco work-t2 lis-left desc-tr">제목</th>
                            <th class="coco work-t3 lis-left desc-tr">언어</th>
                            <th class="coco work-t4 lis-left desc-tr">레벨<i class="ri-arrow-down-s-fill"></i></th>
                            <th class="coco work-t8 lis-left desc-tr">유형</th>
                            <th class="coco work-t5 lis-left desc-tr">평균점수</th>
                            <th class="coco work-t6 lis-left desc-tr">정답률</th>
                            <th class="coco work-t7 lis-left desc-tr">등록일자<i class="ri-arrow-down-s-fill i-col"></i></th>

                        </tr>
                        </thead>
                        <tbody class="co-body">
                        <th:block th:each="i, status : ${home}">
                        <tr class="co-flex"  onclick="selectRadio(this)">
                            <td class="coco crcr-0 center-flex"><input type="radio" class="ra-no-m" name="homework_no" th:value="${i.homework_no}"><input type="hidden" th:value="${i.homework_no}"></td>
                            <td class="coco work-t1">[[${status.index+1}]]</td>
                            <td class="coco work-t2 lis-left"><a style="color: #191a2e">[[${i.homework_title}]]</a></td>
                            <td class="coco work-t3 lis-left">[[${i.homework_language}]]</td>
                            <td class="coco work-t4 lis-left" th:classappend="${i.homework_level}" >[[${i.homework_level}]]</td>
                            <td class="coco work-t8 lis-left">[[${i.category}]]</td>
                            <td class="coco work-t5 lis-left">[[${i.average_score != null ? i.average_score : 0}]]점</td>
                            <td class="coco work-t6 lis-left">[[${i.percentage != null ? i.percentage : 0}]]%</td>
                            <td class="coco work-t7 lis-left">[[${ #temporals.format(i.homework_register, 'yyyy.MM.dd')}]]</td>
                        </tr>
                        </th:block>

                        </tbody>
                    </table>
                </form>
                <div class="page-wrap right-p">
                    <div class="pagination">
                        <a th:href="@{homeworklist(page=1,
                      title = ${pageVO.cri.title})}">&laquo;</a>
                        <th:block th:each="page : ${pageVO.pageList}">
                            <a th:class="${pageVO.page == page ? 'act':''}" th:href="@{homeworklist(page = ${page}, title = ${pageVO.cri.title})}">[[${page}]]</a>
                        </th:block>
                        <a th:href="@{homeworklist(page = ${pageVO.realEnd}, title = ${pageVO.cri.title})}"> &raquo;</a>
                    </div>
                </div>





            </div>

        </div>


        <div class="content-line-m">
            <div class="left-h-m">
                <div class="ul-wrap-m" style="align-items: center; gap: 10px">
                    <ul class="toggle-m" style="background-color: #273447; margin-left:10px ">
                        <li data-id="#tog-m1" style="padding: 12px 0 9px;" class="acts-m">정보</li>
                        <li data-id="#tog-m2" style="padding: 12px 0 9px;">이력</li>
                    </ul>
                    <i class="ri-refresh-line" style="margin-top: 10px; font-size: 25px; cursor: pointer; margin-right: 20px;" id="refle-mct"></i>
                </div>
                <div class="bon-content-wrap sms-mm toggle-menu-m active-m" id="tog-m1">


                </div>
                <div class="bon-content-wrap sms-mm2 toggle-menu-m" id="tog-m2">
                    <div class="ti-h3" style="margin-bottom: 20px"><h3>이력</h3></div>
                    <div class="table-wrap" id="mama-m2">
                        <table class="table-content">
                            <thead class="co-head">
                            <tr class="co-flex">
                                <th class="coco crcr-0">No</th>
                                <th class="coco crc-m1">아이디</th>
                                <th class="coco crc-m4">제출일자</th>
                                <th class="coco crc-m3">점수</th>
                                <th class="coco crc-m2">코드보기</th>
                            </tr>
                            </thead>
                            <tbody class="co-body sms-mmm">

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            <div class="right-h-m">
                <div class="bon-content-wrap" style="margin-left: 0; margin-top: 11px">
                    <form class="reg-title-wrap col-mm" action="/homework/homeworksend" method="post">
                        <div class="sub-wrap-ms">
                            <div class="enddate-m" >
                                <label>마감기한</label>
                                <input class="inp-reg-m ee-mm-date" style="width: 100px; font-size: 12px;" type="date" name="homework_enddate">
                            </div>
                        </div>
                        <div class="jst-wrap-m">
                            <select class="sel-des sel-des-2m">
                                <option value="">전체</option>
                                <th:block th:each="i : ${names}">
                                    <option th:value="${i.group_nm}">[[${i.group_nm}]]</option>
                                </th:block>
                            </select>
                            <input type="hidden" name="homework_no" id="hw-no">
                            <button type="submit"  class="regbtn-des ppl-m" >전송하기</button>
                        </div>
                        <div class="table-wrap" id="mama-m">
                            <div class="evg-m">평균점수: <span class="evg-sm"></span>점</div>
                            <table class="table-content">
                                <thead class="co-head">
                                <tr class="co-flex">
                                    <th class="coco crcr-0"><input id="selectAll" type="checkbox"></th>
                                    <th class="coco crc-m1">이름</th>
                                    <th class="coco crc-m2">닉네임</th>
                                    <th class="coco crc-m3">점수</th>
                                    <th class="coco crc-m4">소속 그룹</th>
                                </tr>
                                </thead>
                                <tbody class="co-body sms-m">

                                </tbody>
                            </table>

                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div id="modalfour" class="hidden">
            <div id="modalcontentt">
                <div class="modal-wrap-m">
                    <div class="join-wrap-mm">
                        <div class="top-inp">
                            <h3><i class="ri-checkbox-circle-line"></i>코드보기</h3>
                        </div>
                    </div>
                    <div class="show-code-wrap-m">
                        <pre id="myPreTag" class="show-code-m"></pre>
                    </div>

                    <div class="bot-sub-m">
                        <button id="close-m" type="button">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modalone" class="hidden">
            <div id="modalcontent">
                <div class="modal-wrap-m">
                    <div class="join-wrap-mm">
                        <div class="top-inp" style="align-items: start">
                            <h3><i class="ri-checkbox-circle-line"></i>유형관리</h3>
                            <div class="ssd-mm" style="display: flex; justify-content: end; gap: 10px">
                                <input type="button" class="sub-des" id="regbb" value="추가">
                                <input type="button" class="sub-des" id="delbb" value="삭제">
                            </div>
                        </div>
                    </div>

                    <form class="table-wrap" action="#" method="post" id="ctForm">
                        <div class="top-line-btn-wrap" style="margin-bottom: 15px">
                            <input type="text" placeholder="추가할 유형을 입력해주세요" name="my_category"  style="width: 300px">
                            <i class="ri-add-circle-line"></i>

                        </div>

                        <table class="table-content">
                            <thead class="co-head">
                            <tr class="co-flex">
                                <th class="coco crcr-0"><input type="checkbox"></th>
                                <th class="coco crcr-0" style="flex-basis: 10%">No</th>
                                <th class="coco crc-m1" style="flex-basis: 85%">유형</th>
                            </tr>
                            </thead>
                            <tbody class="co-body">
                                <th:block th:each="i, status : ${cat}">
                                <tr class="co-flex">
                                    <td class="coco crcr-0"><input type="radio" name="my_categoryd" th:value="${i.my_category}"></td>
                                    <td class="coco crcr-0" style="flex-basis: 10%">[[${status.index+1}]]</td>
                                    <td class="coco crc-m1" style="flex-basis: 85%">[[${i.my_category}]]</td>
                                </tr>
                                </th:block>
                            </tbody>
                        </table>

                    </form>


                    <div class="bot-sub-m">
                        <button id="close-ct" type="button">닫기</button>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${warningMessage}">
            <script th:inline="javascript">
                /* 경고 메시지가 존재하는 경우에만 이전 페이지로 이동 */
                var warningMessage = /*[[${warningMessage}]]*/ '';
                alert(warningMessage);
                window.location.href = '/memberZ/tierchoiceZ'; // 이전 페이지로 이동
            </script>
        </div>
    </div>

</th:block>

<script th:inline="javascript">
    var msg = `[[${msg}]]`;
    msg = JSON.parse(msg)
    if(msg !== null) {
        alert(msg);
    }
</script>


<script>



    var tog = document.querySelector('.toggle-m');
    var prei = '#tog-m1';
    tog.addEventListener('click', (e)=>{

        if(e.target.tagName != 'LI') return;
        var preto = document.querySelector('.acts-m');
        var menu = e.target.dataset.id;
        var ddd = document.querySelector(menu);
        var pp = document.querySelector(prei);
        preto.classList.toggle('acts-m');
        e.target.classList.toggle('acts-m');

        pp.classList.toggle('active-m');
        ddd.classList.toggle('active-m');
        prei = menu;

    })


    var currenthomework = 0;
    const my_id = $("#myid").val();
    var selgroupnm = '';


    function getstdlist(login_id, group_nm, homework_no){
        $.ajax({
            type: "post",
            url: "/getstdlist",
            dataType: "json",
            data: JSON.stringify({
                login_id: login_id,
                group_nm: group_nm,
                homework_no: homework_no
            }),
            contentType: "application/json",
            success: function(data) {
                console.log(data);
                var cnt = 0;
                var sum = 0;
                for (let i of data){
                    var tr = document.createElement("tr");
                    tr.classList.add("co-flex");
                    cnt++;
                    sum += i.score;
                    tr.innerHTML = ` <td class="coco crcr-0 center-flex"><input type="checkbox" name="login_id" class="ckbox-m" value="${i.login_id}"></td>
                                        <td class="coco crc-m1">${i.korn_flnm}</td>
                                        <td class="coco crc-m2">${i.user_nickname}</td>
                                        <td class="coco crc-m3">${i.score}</td>
                                        <td class="coco crc-m4">${i.group_nm}</td>`;
                    $(".sms-m").append(tr);


                }
                $(".evg-sm").html(Math.ceil(sum/cnt));
            },
            error: function(err, status) {
                console.log(err, status);
                alert("정보를 불러올 수 없습니다.");
            }
        });

    }


    function getrecorddetail(homework_no){
        $.ajax({
            type: "post",
            url: "/getrecorddetail",
            dataType: "json",
            data: JSON.stringify({
                homework_no: homework_no
            }),
            contentType: "application/json",
            success: function(data) {
                $(".sms-mmm").empty();
                console.log(data);

                data.forEach((item, index) => {
                    var joinDate = new Date(item.record_date);
                    var formattedJoinDate = joinDate.toLocaleString();

                    var tr = document.createElement("tr");
                    tr.classList.add("co-flex");

// 문자열 내의 쌍따옴표를 HTML 엔티티로 대체하여 data-code에 삽입
                    var recordCode = item.record_code.replace(/"/g, '&quot;');

                    tr.innerHTML = `
    <td class="coco crcr-0 center-flex">${index + 1}</td>
    <td class="coco crc-m1">${item.login_id}</td>
    <td class="coco crc-m4">${formattedJoinDate}</td>
    <td class="coco crc-m3">${item.record_score}</td>
    <td class="coco crc-m2"><input type="button" class="sub-des ck-code-m" data-code="${recordCode}" value="확인"></td>
`;

                    $(".sms-mmm").append(tr);
                });
            },
            error: function(err, status) {
                console.log(err, status);
                alert("정보를 불러올 수 없습니다.");
            }
        });

    }


    function gethomedetail(homework_no){
        $.ajax({
            type: "post",
            url: "/gethomedetail",
            dataType: "json",
            data: JSON.stringify({
                homework_no: homework_no
            }),
            contentType: "application/json",
            success: function(data) {
                $(".sms-mm").empty();
                console.log(data);

                var div = document.createElement("div");
                var div2 = document.createElement("div");
                div2.classList.add("ti-h3");
                div2.innerHTML = "<h3>세부정보</h3>";
                div.classList.add("reg-title-wrap");
                div.classList.add("row-m");

                var html = `<div class="col-mm">
                    <div class="like-table-wrap nogap-m">
                        <div class="sinfo-wrap-m">
                            <label class="we-m">레벨</label>
                            <h4 class="name-m ${data.homework_level}">${data.homework_level}</h4>
                        </div>
                        <div class="sinfo-wrap-m">
                            <label class="we-m">제한시간</label>
                            <h4 class="name-m"><i class="ri-timer-line"></i> &nbsp;${data.homework_time}초</h4>
                        </div>
                    </div>
                    <div class="group-name">
                        <label>숙제내용</label>
                        <pre>${data.homework_content}</pre>
                    </div>
                    <div class="group-name">
                        <label>숙제힌트</label>
                        <pre>${data.homework_hint}</pre>
                    </div>
                </div>
                <div class="group-name w-100">
                    <label style="    color: indigo;">입출력 예시</label>
                    <div class="inout-m ex-inp-m">
                        <div class="h-ex-wrap tt-m tt-title-m" style="margin-bottom: 0">
                            <label>입력</label>
                            <label>결과</label>
                            <label class="exp-m ee-mm">설명</label>
                        </div>`;

                for (var i of data.list_exvo) {
                    html += `<div class="h-ex-wrap tt-m bor-m">
                    <label>${i.input}</label>
                    <label>${i.output}</label>
                    <label class="exp-m ee-mm">${i.ex_ct}</label>
                </div>`;
                }

                html += `</div>
                <label style="    color: indigo;">테스트 코드</label>
                <div class="inout-m ex-inp-m">
                    <div class="h-ex-wrap tt-m tt-title-m" style="margin-bottom: 0; width: 50%">
                        <label class="t-m1">입력</label>
                        <label class="t-m2">결과</label>
                    </div>`;

                for (var i of data.list_testvo) {
                    html += `<div class="h-ex-wrap tt-m bor-m" style="width: 50%">
                    <label class="t-m1">${i.test_input}</label>
                    <label class="t-m2">${i.test_output}</label>
                </div>`;
                }

                html += `</div>
            </div>`;

                div.innerHTML = html;
                $(".sms-mm").append(div2);
                $(".sms-mm").append(div);
            },
            error: function(err, status) {
                console.log(err, status);
                alert("정보를 불러올 수 없습니다.");
            }
        });

    }

    var wordsToHighlight = ["public", "return" ,"class", "static", "new", "int", "if", "else", "import", "for"];
    var mainColorWords = ["main"];
    var popularWords = ["out", "in", "length"];
    var numberWords = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];

    $(".sms-mmm").on('click', '.ck-code-m', function (e) {
        console.log($(this).attr("data-code"));

        var code = $(this).attr("data-code");

        // pre 태그 내의 텍스트에 대해 색상을 변경합니다.
        var highlightedCode = highlightWords(code, wordsToHighlight, mainColorWords, popularWords, numberWords);

        // 변환된 코드를 출력합니다.
        $(".show-code-m").html(highlightedCode);

        $("#modalfour").removeClass('hidden');
    });

    function highlightWords(code, wordsToHighlight, mainColorWords, popularWords, numberWords) {
        var text = code;
        var regex;

        //큰따옴표 안에 있는 문자열을 추출하여 처리합니다.
        var stringsInDoubleQuotes = text.match(/"([^"\\]*(\\.[^"\\]*)*)"|'([^'\\]*(\\.[^'\\]*)*)'/g);
        if (stringsInDoubleQuotes !== null) {
            stringsInDoubleQuotes.forEach(function (str) {
                // 큰따옴표 안에 있는 문자열에 대해 색상을 설정합니다.
                text = text.replace(str, function (match) {
                    return applySpan(match, "", "#54966c"); // 큰따옴표 안에 있는 문자열 색상 설정 (예시로 보라색 사용)
                });
            });
        }

        // wordsToHighlight 처리
        wordsToHighlight.forEach(function (word) {
            regex = new RegExp("\\b" + word + "\\b", "gi");
            text = text.replace(regex, function (match) {
                return applySpan(match, word);
            });
        });

        // mainColorWords 처리
        mainColorWords.forEach(function (word) {
            regex = new RegExp("\\b" + word + "\\b", "gi");
            text = text.replace(regex, function (match) {
                return applySpan(match, word, "#52a1e9"); // 메인 색상 설정
            });
        });

        // popularWords 처리
        popularWords.forEach(function (word) {
            regex = new RegExp("\\b" + word + "\\b", "gi");
            text = text.replace(regex, function (match) {
                return applySpan(match, word, "#e588d6"); // 인기 색상 설정
            });
        });

        // numberWords 처리
        numberWords.forEach(function (word) {
            regex = new RegExp("\\b" + word + "\\b", "gi");
            text = text.replace(regex, function (match) {
                return applySpan(match, word, "rgb(92 197 173)"); // 숫자 색상 설정 (예시로 초록색 사용)
            });
        });

        return text;
    }

    function applySpan(match, word, color = "#e78e62") {
        var span = document.createElement("span");
        span.textContent = match;
        span.style.color = color; // 색상 설정
        return span.outerHTML;
    }

    document.getElementById("close-m").addEventListener('click', () => {
        $(".show-code-m").empty();
        $("#modalfour").addClass('hidden');
    });

    $("#addctg").on('click', function (e) {
        $("#modalone").removeClass('hidden');
    });
    document.getElementById("close-ct").addEventListener('click', () => {

        $("#modalone").addClass('hidden');
    });

    function selectRadio(row) {
        // 해당 행에서 라디오 버튼을 찾아 선택
        const radio = row.querySelector("input[type='radio']");
        if (radio) {
            radio.checked = true; // 라디오 버튼 선택
            radio.click(); // 클릭 이벤트를 트리거
        }
    }
    var currethomework = 0;


    $(".ra-no-m").on('click',function (e){
        $(".content-line-m").css("display", "flex");

        // 라디오 버튼 다음에 숨겨진 값 가져오기
        currenthomework = $(this).next().val();
        $("#hw-no").val(currenthomework); // 선택된 값 설정

        $(".sms-m").empty(); // 이전 내용 지우기
        getstdlist(my_id, selgroupnm, currenthomework); // 추가 작업 실행
        gethomedetail(currenthomework);
        getrecorddetail(currenthomework);

    })
    $("#refle-mct").on('click',function (e){
        $(".content-line-m").css("display","flex");
        // 선택된 라디오 버튼 요소를 찾습니다.
        var selectedRadio = document.querySelector('input[name="homework_no"]:checked');

        // 선택된 라디오 버튼의 값을 가져옵니다.
        currenthomework = selectedRadio ? selectedRadio.value : null;

        $("#hw-no").val(currenthomework);
        $(".sms-m").empty();
        getstdlist(my_id, selgroupnm, currenthomework);
        gethomedetail(currenthomework);
        getrecorddetail(currenthomework);
    })

    $(".sel-des-2m").on('change',function (e){
        selgroupnm = $(".sel-des-2m").val();
        $(".sms-m").empty();
        $("#selectAll").prop('checked', false);
        console.log(currenthomework);
        getstdlist(my_id, selgroupnm, currenthomework);
    })

    $("#selectAll").change(function (e){
        const isChecked = $(this).prop('checked');

        $(".ckbox-m").prop('checked',isChecked);

    })

    $(".ee-mm-date").on('change', function () {
        var selectedDate = new Date($(this).val());
        var today = new Date();

        // 선택된 날짜가 오늘 이전인지 확인합니다.
        if (selectedDate < today) {
            // 선택된 날짜가 오늘 이전이면 값을 초기화합니다.
            $(this).val('');
            alert('오늘 이전의 날짜를 선택할 수 없습니다.');
        }
    });
    $(".ppl-m").on('click', function (e) {
        e.preventDefault(); // 기본 동작 막기

        if ($(".ee-mm-date").val() === "") {
            alert("마감기한을 지정해주세요");
            return;
        }

        var checkboxes = $('.ckbox-m');

        // 체크된 체크박스가 있는지 확인합니다.
        var checked = checkboxes.is(':checked');

        // 체크된 체크박스가 없다면 전송을 막습니다.
        if (!checked) {
            return;
        }
        $(".col-mm").submit();

    });

    document.addEventListener("DOMContentLoaded", function() {

    });



    var ctForm = document.getElementById("ctForm");

    $("#regbb").on('click',function (e){
        e.preventDefault();
        ctForm.action = "regcategory";
        ctForm.submit();

    });
    $("#delbb").on('click',function (e){
        e.preventDefault();
        ctForm.action = "deletecategory";
        ctForm.submit();
    });

    document.addEventListener("DOMContentLoaded", function() {
        var checkboxes = document.querySelectorAll('input[name="homework_no"]');
        var selectBoxOptions = document.querySelectorAll('.select-box__list li label');

        function updateSelectBoxState() {
            var checkedCount = document.querySelectorAll('input[name="homework_no"]:checked').length;

            if (checkedCount === 0) {
                // 모든 라디오 버튼이 해제되었을 때
                selectBoxOptions.forEach(function(option) {
                    option.style.pointerEvents = 'none';
                    option.style.color = "#cecece";
                });
            } else {
                // 하나 이상의 라디오 버튼이 선택되어 있을 때
                selectBoxOptions.forEach(function(option) {
                    option.style.pointerEvents = 'auto';
                    option.style.color = "#60666d";
                });
            }
        }

        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                updateSelectBoxState();
            });
        });

        // 페이지 로드 시 초기 상태 설정
        updateSelectBoxState();
    });


    $(".f-t1").on('click', function (e){
        var form = $("form[name='hoho-m']");
        form.attr("action", "homeworkupdate");
        form.submit();
    });

    $(".f-t2").on('click', function (e){
        if(!confirm("정말 해당숙제를 삭제하시겠습니까? 숙제배포 이력이 있으면 삭제가 불가능합니다")) return
        var form = $("form[name='hoho-m']");
        form.attr("action", "homeworkdelete");
        form.submit();
    });



</script>
</body>
</html>