<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- content -->
<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
    <div class="bon-wrap">
        <div class="page-title">
            <p>숙제</p>
        </div>
        <div class="route-wrap">
            <a href="#">숙제</a><p>/</p><a href="#">내 숙제리스트</a><p>/</p><a href="#">[[${vo.homework_title}]]</a>
        </div>
        <div class="bon-content-wrap">
            <div class="two-m">
                <div class="content-box fl-row-m">
                    <h3 style="margin-bottom: 10px;">[[${vo.homework_title}]]</h3>

                    <div class="reg-title-wrap">
                        <div class="group-naming-wrap-m">
                            <div class="reg-title-wrap" style="margin-bottom: 15px;">
                                <div class="like-table-wrap">
                                    <div class="sinfo-wrap-m">
                                        <p>레벨</p>
                                        <h4 class="name-m">[[${vo.homework_level}]]</h4>
                                    </div>
                                    <div class="sinfo-wrap-m">
                                        <p>제한시간</p>
                                        <h4 class="name-m"><i class="ri-timer-line"></i>[[${vo.homework_time}]]초</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="group-name">
                                <label>숙제내용</label>
                                <p><i class="ri-alert-line"></i>생성 후에는 이름을 변경할수 없습니다.</p>
                                <p>[[${vo.homework_content}]]</p>
                            </div>
                            <div class="group-name">
                                <label>숙제힌트</label>
                                <p><i class="ri-alert-line"></i>수용인원은 최대 30명 까지 입니다.</p>
                                <p>[[${vo.homework_hint}]]</p>
                            </div>
                            <div class="group-name">
                                <label>입출력 예시</label>
                                <th:block th:each="i : ${vo2}">
                                <div class="inout-m ex-inp-m">
                                    <div class="h-ex-wrap flc-center-mm" style="margin-bottom: 0">
                                        <label>입력값</label>
                                        <label>결과값</label>
                                    </div>
                                    <div class="h-ex-wrap flc-center-mm" style="margin-bottom: 30px; text-align: center;">

                                            <label><div>[[${i.input}]]</div></label>
                                            <label><div>[[${i.output}]]</div></label>

                                    </div>
                                </div>
                                <label>설명</label>
                                <p>[[${i.ex_ct}]]</p>
                                </th:block>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="content-box fl-row-m2" >
                    <h3 style="margin-bottom: 10px;">solution</h3>
                    <div class="reg-title-wrap">
                        <div class="code-editor">
                            <div class="line-numbers"></div>
                            <textarea id="code" oninput="updateLineNumbers()"></textarea>
                        </div>
                    </div>
                    <div class="reg-title-wrap"  >
                        <div class="result-m" style="display: none">

                            <th:block th:each="item, status: ${vo3}">
                                <div class="test-m" th:id="${status.index}" th:data-input="${item.test_input}" th:data-output="${item.test_output}">
                                    <h4>테스트[[${status.index + 1}]]</h4>
                                </div>
                            </th:block>

                        </div>
                    </div>
                </div>

            </div>
            <div class="reg-btn-wrap">
                <button type="button" id="sub-btn">체점하기</button>
            </div>
        </div>
    </div>

</th:block>


<script>



    function updateLineNumbers() {
        var textarea = document.getElementById("code");
        var lineNumbersDiv = document.querySelector(".line-numbers");
        var lines = textarea.value.split("\n");
        var lineNumbersHTML = "";
        for (var i = 0; i < lines.length; i++) {
            lineNumbersHTML += (i + 1) + "<br>";
        }
        lineNumbersDiv.innerHTML = lineNumbersHTML;
    }
    updateLineNumbers(); // 초기화


    $.fn.checkCode = function(code, input, answer, num) {
        var element = this; // 현재 요소를 가리키는 jQuery 객체를 저장합니다.
        $.ajax({
            url: "/checkCode",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ code: code, input: input, answer: answer }),
            success: function(data) {
                // 서버로부터 받은 결과를 처리합니다.
                console.log(data); // 테스트 결과를 콘솔에 출력합니다.
                // 결과에 따라 HTML을 업데이트합니다.
                if (data === "통과") {
                    element.find('.st-mm').text('통과'); // 성공 메시지 업데이트
                    element.find('.sec-mm').text('0.12ms'); // 시간 업데이트
                } else {
                    // 실패 메시지가 이미 존재하는지 확인합니다.
                    if (element.find('.fail-mm').length === 0) {
                        // 실패 메시지를 추가합니다.
                        element.append('<p class="fail-mm"><i class="ri-alert-line"></i>실패</p>');
                    }
                }
            },
            error: function(error) {
                console.error("Error:", error);
            }
        });
    };

    // 서브미션 버튼에 대한 클릭 이벤트 핸들러
    $("#sub-btn").on("click", function (e){
        $(".result-m").css("display", "flex");
        var code = $("#code").val();
        $(".test-m").each(function(index) {
            // 각 요소에 대해 checkCode 함수 호출
            $(this).checkCode(code, $(this).attr("data-input"), $(this).attr("data-output"), index);
        });
    });



</script>
</body>
</html>