<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- content -->
<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
    <div class="bon-wrap">
        <div class="page-title">
            <p>숙제</p>
        </div>
        <div class="route-wrap">
            <a href="#">숙제 </a><p>/</p><a style="color: black">내 숙제리스트</a>
        </div>
        <div class="bon-content-wrap">
            <div class="box-title-wrap">
                <h3>내 숙제리스트</h3>
            </div>
            <div class="content-box">
                <div class="top-inp">
                    <p>숙제([[${total}]])</p>

                </div>
                <form class="search-wrap-m"  action="/homework/myhomework" method="get" style="margin-bottom: 0; padding-bottom: 0; padding-left: 0; justify-content: start">
                    <div class="top-line-btn-wrap" style="margin-bottom: 15px">
                        <input type="text" placeholder="제목을 검색해주세요" name="title" style="width: 300px">
                        <i class="ri-search-line"></i>

                    </div>
                    <div class="ssd-mm">
                        <input type="submit" class="sub-des" value="조회하기">
                    </div>

                </form>
                <div class="table-wrap">
                    <table class="table-content" >
                        <thead class="co-head">
                        <tr class="co-flex">
                            <th class="coco crcr-0">No</th>
                            <th class="coco work-m1 lis-left desc-tr">제목<i class="ri-arrow-down-s-fill"></i></th>
                            <th class="coco work-m2 lis-left desc-tr">언어<i class="ri-arrow-down-s-fill"></i></th>
                            <th class="coco work-m3 lis-left desc-tr">레벨<i class="ri-arrow-down-s-fill"></i></th>
                            <th class="coco work-m7 lis-left desc-tr">유형<i class="ri-arrow-down-s-fill"></i></th>
                            <th class="coco work-m4 lis-left desc-tr">등록일자<i class="ri-arrow-down-s-fill"></i></th>
                            <th class="coco work-m5 lis-left desc-tr">마감일자<i class="ri-arrow-down-s-fill i-col"></i></th>
                            <th class="coco work-mm lis-left desc-tr">점수<i class="ri-arrow-down-s-fill"></i></th>
                            <th class="coco work-m6 lis-left desc-tr">상태<i class="ri-arrow-down-s-fill"></i></th>
                        </tr>
                        </thead>
                        <tbody class="co-body">
                        <th:block th:each="i,status : ${home}">
                        <tr class="co-flex">
                            <td class="coco crcr-0 center-flex">[[${status.index+1}]]</td>
                            <td class="coco work-m1 lis-left"><a th:href="@{myhomeworkdetail(homework_no = ${i.homework_non})}">[[${i.homework_title}]]</a></td>
                            <td class="coco work-m2 lis-left">[[${i.homework_language}]]</td>
                            <td class="coco work-m3 lis-left" th:classappend="${i.homework_level}">[[${i.homework_level}]]</td>
                            <td class="coco work-m7 lis-left">[[${i.category}]]</td>
                            <td class="coco work-m4 lis-left">[[${#temporals.format(i.submit_date, 'yyyy.MM.dd')}]]</td>
                            <td class="coco work-m5 lis-left">[[${#dates.format(i.homework_enddate, 'yyyy.MM.dd')}]]</td>
                            <td class="coco work-mm lis-left">[[${i.homework_score}]]</td>
                            <td class="coco work-m6 lis-left">
                                <div th:block th:if="${i.homework_st == '제출'}" class="ck-mmm">
                                    <i class="ri-checkbox-circle-line"></i>[[${i.homework_st}]]
                                </div>
                                <div th:block th:unless="${i.homework_st == '제출'}" th:text="${i.homework_st}"></div>
                            </td>
                        </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="page-wrap right-p">
                    <div class="pagination">
                        <a th:href="@{myhomework(page=1,
                      title = ${pageVO.cri.title})}">&laquo;</a>
                        <th:block th:each="page : ${pageVO.pageList}">
                            <a th:class="${pageVO.page == page ? 'act':''}" th:href="@{myhomework(page = ${page}, title = ${pageVO.cri.title})}">[[${page}]]</a>
                        </th:block>
                        <a th:href="@{myhomework(page = ${pageVO.realEnd}, title = ${pageVO.cri.title})}"> &raquo;</a>
                    </div>
                </div>





            </div>

        </div>
    </div>

</th:block>

<script>

    $(document).ready(function() {

        checkHomeworkDeadline();
    });

    function checkHomeworkDeadline() {
        var currentDate = new Date();

        $(".co-flex").each(function() {
            var endDateString = $(this).find(".work-m5").text();
            var endDate = new Date(endDateString);

            if (currentDate > endDate) {
                $(this).addClass("gray-m");
            }
        });
    }
</script>

</body>
</html>