<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- content -->
<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
    <div class="bon-wrap">
        <div class="page-title">
            <p>숙제</p>
        </div>
        <div class="route-wrap">
            <a href="#">숙제</a><p>/</p><a href="myhomework">내 숙제리스트</a><p>/</p><a style="color: black">[[${vo.homework_title}]]</a>
        </div>
        <div class="bon-content-wrap">
            <div class="two-m">
                <div class="content-box fl-row-m">
                    <h3 style="margin-bottom: 10px;">[[${vo.homework_title}]]<span>([[${vo.category}]])</span></h3>

                    <div class="reg-title-wrap">
                        <div class="group-naming-wrap-m">
                            <div class="reg-title-wrap" style="margin-bottom: 15px;">
                                <div class="like-table-wrap">
                                    <div class="sinfo-wrap-m">
                                        <p>레벨</p>
                                        <h4 class="name-m" th:classappend="${vo.homework_level}">[[${vo.homework_level}]]<input type="hidden" id="lvscr" th:value="${vo.homework_level}"></h4>
                                    </div>
                                    <div class="sinfo-wrap-m">
                                        <p>제한시간</p>
                                        <h4 class="name-m"><i class="ri-timer-line"></i>[[${vo.homework_time}]]초<input type="hidden" class="h-time" th:value="${vo.homework_time}"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="group-name">
                                <label>숙제내용</label>

                                <pre>[[${vo.homework_content}]]</pre>
                            </div>
                            <div class="group-name">
                                <label>숙제힌트</label>

                                <pre>[[${vo.homework_hint}]]</pre>
                            </div>
                            <div class="group-name">
                                <label>입출력 예시</label>

                                <div class="inout-m ex-inp-m">
                                    <div class="h-ex-wrap flc-center-mm tmt-m ti-mm" style="margin-bottom: 0">
                                        <label class="tm-m0">No</label>
                                        <label class="tm-m1">입력값</label>
                                        <label class="tm-m2">결과값</label>
                                    </div>
                                    <th:block th:each="i, status : ${vo2}">
                                    <div class="h-ex-wrap flc-center-mm tmt-m" style=" text-align: center;">
                                            <label class="tm-m0"><div>[[${status.index+1}]]</div></label>
                                            <label class="tm-m1"><div>[[${i.input}]]</div></label>
                                            <label class="tm-m2"><div>[[${i.output}]]</div></label>

                                    </div>
                                    </th:block>
                                </div>
                                <th:block th:each="i,status : ${vo2}">
                                <label>예시[[${status.index+1}]]번 설명</label>
                                <p>[[${i.ex_ct}]]</p>
                                </th:block>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="content-box fl-row-m2" >
                    <h3 style="margin-bottom: 10px;">solution</h3>
                    <div class="reg-title-wrap">
                        <div class="code-editor eded-m">
                            <div id="lineNumbers" class="line-numbers"></div>
                            <textarea id="code" spellcheck="false" rows="1" onkeydown="handleTab(event)">
import java.util.Scanner;

public class Solution {
    public static void main(String[] args) {

        Scanner scan = new Scanner(System.in);


    }
}
                            </textarea>
                        </div>
                    </div>
                    <div class="reg-title-wrap"  >
                        <div class="result-m" style="display: none">

                            <th:block th:each="item, status: ${vo3}">
                                <div class="test-m" th:id="${status.index}" th:data-input="${item.test_input}" th:data-output="${item.test_output}">
                                    <h4>case [[${status.index + 1}]]</h4>
                                    <div class="loader" style="display: flex; align-items: center"></div>
                                </div>
                            </th:block>

                        </div>
                    </div>
                </div>

            </div>
            <div class="reg-btn-wrap">
                <button type="button" id="sub-btn">채점하기</button>
            </div>
        </div>
    </div>

</th:block>


<script th:inline="javascript">
    

    const point = parseInt($("#lvscr").val().substring(2,3));
    var lastpoint = 0;
    if(point === 0) lastpoint = 10;
    else if (point === 1) lastpoint = 13;
    else if (point === 2) lastpoint = 15;
    else if (point === 3) lastpoint = 17;
    else if (point === 4) lastpoint = 20;
    else if (point === 5) lastpoint = 25;

    var allpro = 0;
    var procnt = 0;

    const textarea = document.getElementById('code');
    const lineNumbers = document.getElementById('lineNumbers');

    textarea.addEventListener('input', updateLineNumbers);
    textarea.addEventListener('scroll', syncScroll);
    window.addEventListener('resize', updateLineNumbers);

    function updateLineNumbers() {
        const lines = textarea.value.split('\n').length;
        lineNumbers.innerHTML = '';
        for (let i = 1; i <= lines; i++) {
            lineNumbers.innerHTML += i + '<br>';
        }
    }

    function syncScroll() {
        lineNumbers.scrollTop = textarea.scrollTop;
    }

    $(document).ready(function() {
        $('#code').keydown(function(e) {
            var cursorPosition = this.selectionStart;
            var textareaValue = $(this).val();

            if (e.key === '{') {
                e.preventDefault();
                var newValue = textareaValue.substring(0, cursorPosition) + '{}' + textareaValue.substring(cursorPosition);
                $(this).val(newValue);
                this.selectionStart = this.selectionEnd = cursorPosition + 1;
            } else if (e.key === '(') {
                e.preventDefault();
                var newValue = textareaValue.substring(0, cursorPosition) + '()' + textareaValue.substring(cursorPosition);
                $(this).val(newValue);
                this.selectionStart = this.selectionEnd = cursorPosition + 1;
            } else if (e.key === '[') {
                e.preventDefault();
                var newValue = textareaValue.substring(0, cursorPosition) + '[]' + textareaValue.substring(cursorPosition);
                $(this).val(newValue);
                this.selectionStart = this.selectionEnd = cursorPosition + 1;
            }
        });
    });



    var num = parseInt($(".h-time").val());



    function handleTab(event) {
        // Tab 키 눌렀을 때
        if (event.keyCode === 9) {
            // 탭의 위치
            var start = event.target.selectionStart;
            var end = event.target.selectionEnd;

            // 탭 앞뒤로 스페이스 4개 추가
            var value = event.target.value;
            event.target.value = value.substring(0, start) + "    " + value.substring(end);

            // 커서 위치 조정
            event.target.selectionStart = event.target.selectionEnd = start + 4;

            // 기본 이벤트 방지
            event.preventDefault();
        }
    }

    $.fn.checkCode = function(code, input, answer,num, callback, time) {
        var element = this; // 현재 요소를 가리키는 jQuery 객체를 저장합니다.

        element.find('.loader').show();
        $.ajax({
            url: "/checkCode",
            type: "POST",
            contentType: "application/json",
            dataType: "text",
            data: JSON.stringify({ code: code, input: input, answer: answer, time: time }),
            success: function(data) {
                element.find('.loader').hide();
                console.log(data);
                allpro++;
                if (data == "통과") {
                    element.append('<p class="st-mm"><i class="ri-checkbox-circle-line"></i>통과</p>');
                    procnt++;
                } else if (data == "실패") {
                    element.append('<p class="fail-m"><i class="ri-alert-line"></i>실패</p>');
                } else {
                    element.append('<p class="fail-m"><i class="ri-alert-line"></i>컴파일에러</p>');
                }

                // 콜백 함수 실행
                if (callback && typeof callback === "function") {
                    callback();
                }
            },
            error: function(error) {
                console.error("Error:", error);
            }
        });
    };

    function updatescore(score, lastpoint, homework_no, code){
        $.ajax({
            type: "post",
            url: "/submithomework",
            dataType: "text",
            contentType: "application/json",
            data: JSON.stringify({
                score: score,
                point: lastpoint,
                homework_no: homework_no,
                code : code
            }),
            success: function(data) {
                console.log(data);
            },
            error: function(err, status) {
                console.log(err, status);
                alert("정보를 불러올 수 없습니다.");
            }
        });

    }


    $("#sub-btn").on("click", function (e) {
        $("#sub-btn").prop("disabled", true);
        $("#sub-btn").html('<div class="loaderb"></div>');
        $("#sub-btn").find(".loaderb").show();
        $(".result-m").css("display", "flex");
        var code = $("#code").val();

        $(".st-mm, .fail-m").remove();

        runAllTests($(".test-m"), code)
            .then(function() {
                setTimeout(function() {
                    alert("채점이 완료되었습니다.");
                    $("#sub-btn").prop("disabled", false);
                    $("#sub-btn").html('체점하기');

                }, 100);
                var score = Math.ceil(procnt/allpro*100);
                updatescore(score,lastpoint,JSON.parse(`[[${vo.homework_no}]]`),$("#code").val());


                allpro = 0;
                procnt = 0;
            });
    });

    function runAllTests(tests, code) {
        var index = 0;

        function runNextTest() {
            if (index >= tests.length) {
                return Promise.resolve(); // 모든 테스트가 완료되면 resolve
            }

            var $currentTest = $(tests[index]);

            return new Promise(function(resolve) {
                $currentTest.checkCode(code, $currentTest.attr("data-input"), $currentTest.attr("data-output"), index, function () {
                    index++;
                    resolve();
                },num);
            }).then(runNextTest); // 다음 테스트 실행
        }

        return runNextTest();
    }




</script>
</body>
</html>