<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/mi.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
</head>
<body>
<div class="main-bar">
    <div class="logo-wrap">
        <i class="ri-group-2-fill"></i><span class="logo-name">Groups</span>
    </div>
    <div class="log-wrap">
        <i class="ri-logout-box-r-line" th:onclick="'window.location.href = \'/logout\''"></i>
    </div>
</div>
<div class="cont-wrap">
    <div class="wait-wrap-m">
        <div class="wait-box-m">
            <div class="wait-title-m">
                <h2><i class="ri-checkbox-circle-line"></i>그룹 가입승인 대기중</h2>
            </div>
            <form class="wait-content-m" action="waitdel" method="post" >
                <div class="title-ex-wrap-m">
                    <p>현재 그룹가입 승인 대기중인 상태입니다.<br>교육자가 승인처리를 하면 그룹에 들어갈 수 있습니다.<br><span style="color: rgb(232, 60, 60);"><i class="ri-error-warning-line"></i>신청한 그룹명과 교육자의 이름이 맞는지 확인해주세요</span></p>
                </div>
                <div class="jo-info-wrap">
                    <div class="info-ddd-wrap-m">
                        <p>그룹명</p>
                        <h5>[[${vo.group_nm}]]<input type="hidden" name="group_nm" th:value="${vo.group_nm}"></h5>
                    </div>
                    <div class="info-ddd-wrap-m">
                        <p>교육자</p>
                        <h5>[[${vo.korn_flnm}]]<input type="hidden" name="korn_flnm" th:value="${vo.korn_flnm}"></h5>
                    </div>
                </div>
                <div class="ex-wrap-m">
                    <i class="ri-alert-line"></i>
                    <p>그룹을 잘못 들어 갔을 경우 신청취소 버튼을 눌러 알맞은 그룹에 가입하세요</p>
                </div>
                <div class="btn-jojo-wrap-m">
                    <button type="submit" class="cs-btn-m" >가입취소</button>
                </div>
            </form>
        </div>
    </div>

</div>




<script>





</script>

</body>
</html>