<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- content -->
<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
    <div class="bon-wrap">
        <div class="page-title">
            <p>학습그룹조회</p>
        </div>
        <div class="route-wrap">
            <a href="#">my groups </a><p>/</p><a href="#">학습그룹조회</a>
        </div>
        <div class="bon-content-wrap">
            <div class="box-title-wrap">
                <h3>학습그룹</h3>
            </div>
            <div class="content-box">
                <div class="search-wrap-m">
                    <div class="inp-wrap">
                        <label>교육자</label>
                        <select class="sel-des">
                            <option>전체</option>
                            <option>홍길동</option>
                            <option>홍길동</option>
                        </select>
                        <input type="submit" class="sub-des" value="조회하기">
                    </div>
                    <div class="inp-wrap">
                    </div>
                </div>
                <div class="table-wrap">
                    <table class="table-content">
                        <thead class="co-head">
                        <tr class="co-flex">
                            <th class="coco crcr-0">#</th>
                            <th class="coco crcr-1">그룹이름</th>
                            <th class="coco crcr-2">강사명</th>
                            <th class="coco crcr-3">교육시작일</th>
                            <th class="coco crcr-4">교육종료일</th>
                            <th class="coco crcr-5">학습정원</th>
                            <th class="coco crcr-6">상태</th>
                        </tr>
                        </thead>
                        <tbody class="co-body">
                        <tr class="co-flex">
                            <td class="coco crcr-0">1</td>
                            <td class="coco crcr-1">강남인재개발원 백엔드 교육과정</td>
                            <td class="coco crcr-2">홍길동</td>
                            <td class="coco crcr-3">2023.03.10</td>
                            <td class="coco crcr-4">2023.10.24</td>
                            <td class="coco crcr-5">30</td>
                            <td class="coco crcr-6"><button class="join-btn" type="button">신청하기</button></td>
                        </tr>
                        <tr class="co-flex">
                            <td class="coco crcr-0">2</td>
                            <td class="coco crcr-1">강남인재개발원 백엔드 교육과정</td>
                            <td class="coco crcr-2">홍길동</td>
                            <td class="coco crcr-3">2023.03.10</td>
                            <td class="coco crcr-4">2023.10.24</td>
                            <td class="coco crcr-5">30</td>
                            <td class="coco crcr-6"><button class="join-btn" type="button">신청하기</button></td>
                        </tr>
                        <tr class="co-flex">
                            <td class="coco crcr-0">3</td>
                            <td class="coco crcr-1">강남인재개발원 백엔드 교육과정</td>
                            <td class="coco crcr-2">홍길동</td>
                            <td class="coco crcr-3">2023.03.10</td>
                            <td class="coco crcr-4">2023.10.24</td>
                            <td class="coco crcr-5">30</td>
                            <td class="coco crcr-6"><button class="join-btn" type="button">신청하기</button></td>
                        </tr>
                        <tr class="co-flex">
                            <td class="coco crcr-0">3</td>
                            <td class="coco crcr-1">강남인재개발원 백엔드 교육과정</td>
                            <td class="coco crcr-2">홍길동</td>
                            <td class="coco crcr-3">2023.03.10</td>
                            <td class="coco crcr-4">2023.10.24</td>
                            <td class="coco crcr-5">30</td>
                            <td class="coco crcr-6"><button class="join-btn" type="button">신청하기</button></td>
                        </tr>
                        <tr class="co-flex">
                            <td class="coco crcr-0">3</td>
                            <td class="coco crcr-1">강남인재개발원 백엔드 교육과정</td>
                            <td class="coco crcr-2">홍길동</td>
                            <td class="coco crcr-3">2023.03.10</td>
                            <td class="coco crcr-4">2023.10.24</td>
                            <td class="coco crcr-5">30</td>
                            <td class="coco crcr-6"><button class="join-btn" type="button">신청하기</button></td>
                        </tr>
                        <tr class="co-flex">
                            <td class="coco crcr-0">3</td>
                            <td class="coco crcr-1">강남인재개발원 백엔드 교육과정</td>
                            <td class="coco crcr-2">홍길동</td>
                            <td class="coco crcr-3">2023.03.10</td>
                            <td class="coco crcr-4">2023.10.24</td>
                            <td class="coco crcr-5">30</td>
                            <td class="coco crcr-6"><button class="join-btn" type="button">신청하기</button></td>
                        </tr>
                        <tr class="co-flex">
                            <td class="coco crcr-0">3</td>
                            <td class="coco crcr-1">강남인재개발원 백엔드 교육과정</td>
                            <td class="coco crcr-2">홍길동</td>
                            <td class="coco crcr-3">2023.03.10</td>
                            <td class="coco crcr-4">2023.10.24</td>
                            <td class="coco crcr-5">30</td>
                            <td class="coco crcr-6"><button class="join-btn" type="button">신청하기</button></td>
                        </tr>
                        <tr class="co-flex">
                            <td class="coco crcr-0">3</td>
                            <td class="coco crcr-1">강남인재개발원 백엔드 교육과정</td>
                            <td class="coco crcr-2">홍길동</td>
                            <td class="coco crcr-3">2023.03.10</td>
                            <td class="coco crcr-4">2023.10.24</td>
                            <td class="coco crcr-5">30</td>
                            <td class="coco crcr-6"><button class="join-btn" type="button">신청하기</button></td>
                        </tr>
                        <tr class="co-flex">
                            <td class="coco crcr-0">3</td>
                            <td class="coco crcr-1">강남인재개발원 백엔드 교육과정</td>
                            <td class="coco crcr-2">홍길동</td>
                            <td class="coco crcr-3">2023.03.10</td>
                            <td class="coco crcr-4">2023.10.24</td>
                            <td class="coco crcr-5">30</td>
                            <td class="coco crcr-6"><button class="join-btn" type="button">신청하기</button></td>
                        </tr>
                        <tr class="co-flex">
                            <td class="coco crcr-0">3</td>
                            <td class="coco crcr-1">강남인재개발원 백엔드 교육과정</td>
                            <td class="coco crcr-2">홍길동</td>
                            <td class="coco crcr-3">2023.03.10</td>
                            <td class="coco crcr-4">2023.10.24</td>
                            <td class="coco crcr-5">30</td>
                            <td class="coco crcr-6"><button class="join-btn" type="button">신청하기</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page-wrap">
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a href="#" class="act">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&raquo;</a>
                    </div>
                </div>


            </div>
        </div>
    </div>


</th:block>


</body>
</html>