<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/mi.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
</head>
<body>
<div class="main-bar">
    <div class="logo-wrap" th:onclick="'window.location.href = \'/main\''">
        <i class="ri-group-2-fill"></i><span class="logo-name">Groups</span>
    </div>
    <div class="log-wrap">
        <i class="ri-logout-box-r-line" th:onclick="'window.location.href = \'/logout\''"></i>
    </div>
</div>
<div class="cont-wrap">
    <div class="bon-wrap">
        <div class="page-title">
            <p>학습그룹조회</p>
        </div>
        <div class="route-wrap">
            <p style="font-weight: 600">나의 강의실을 찾아 신청하세요</p>
        </div>
        <div class="bon-content-wrap">
            <div class="box-title-wrap">
                <h3>학습그룹</h3>
            </div>
            <div class="content-box">
                <form action="/group/userGroupList" method="get" class="search-wrap-m" style="justify-content: start; align-items: center; margin-bottom: 0; padding-bottom: 0; padding-left: 0;">
                    <div class="top-line-btn-wrap" style="margin-bottom: 15px">
                        <input type="text" placeholder="이름 또는 제목을 검색해주세요" name="title" th:value="${pageVO.cri.title}" style="width: 300px">
                        <i class="ri-search-line"></i>
                    </div>
                    <div class="search-btn-wrap">
                        <button type="submit" class="sksk-m">검색하기</button>
                    </div>

                </form>
                <div class="table-wrap">
                    <table class="table-content">
                        <thead class="co-head">
                            <tr class="co-flex">
                                <th class="coco crcr-0">#</th>
                                <th class="coco crcr-1">그룹이름</th>
                                <th class="coco crcr-2">강사명</th>
                                <th class="coco crcr-3">교육시작일</th>
                                <th class="coco crcr-4">교육종료일</th>
                                <th class="coco crcr-5">학습정원</th>
                                <th class="coco crcr-6">상태</th>
                            </tr>
                        </thead>
                        <tbody class="co-body">
                           <th:block th:each="g,status : ${glist}">
                           <form action="groupjoiner" method="post">
                            <tr class="co-flex">
                                <td class="coco crcr-0">[[${status.count}]]<input type="hidden" name="group_no" th:value="${g.group_no}"></td>
                                <td class="coco crcr-1">[[${g.group_nm}]]<input type="hidden" name="group_nm" th:value="${g.group_nm}"></td>
                                <td class="coco crcr-2">[[${g.korn_flnm}]]<input type="hidden" name="korn_flnm" th:value="${g.korn_flnm}"></td>
                                <td class="coco crcr-3">[[${#dates.format(g.group_start, 'yyyy.MM.dd')}]]</td>
                                <td class="coco crcr-4">[[${#dates.format(g.group_end, 'yyyy.MM.dd')}]]</td>
                                <td class="coco crcr-5">[[${g.student_count}]]/[[${g.group_pp}]]</td>
                                <td class="coco crcr-6"><button  class="join-btn" type="submit">신청하기</button></td>
                            </tr>
                           </form>
                           </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="page-wrap right-p">
                    <div class="pagination">
                        <a th:href="@{userGroupList(page=1,
                      title = ${pageVO.cri.title})}">&laquo;</a>
                        <th:block th:each="page : ${pageVO.pageList}">
                            <a th:class="${pageVO.page == page ? 'act':''}" th:href="@{userGroupList(page = ${page}, title = ${pageVO.cri.title})}">[[${page}]]</a>
                        </th:block>
                        <a th:href="@{userGroupList(page = ${pageVO.realEnd}, title = ${pageVO.cri.title})}"> &raquo;</a>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
</body>

<script th:inline="javascript">
    var msg = `[[${msg}]]`;
    msg = JSON.parse(msg)
    if(msg !== null) {
        alert(msg);
    }

</script>


</html>