<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block th:fragment="setContent(content)">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- 리믹스 아이콘 아이콘 사용하고싶으면 google에 리믹스 아이콘검색해서 사용하세요 -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/wj.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/mi.css}">
        <!--<link rel="stylesheet" type="text/css" th:href="@{/css/jy.css}">-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/yh.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/hj.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/mi.css}">

        <!-- 구글폰트 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />
         <!-- tinymce -->
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/7/tinymce.min.js" referrerpolicy="origin">

        </script>

         <script>

	      tinymce.init({

	        selector: '#mytextarea'

	      });

    	</script>
        <!-- 제이쿼리 -->
        <script th:src="@{/js/jquery-3.7.1.min.js}"></script>

    </head>
    <body>

        <div class="main-bar">
            <div class="logo-wrap">
                <i class="ri-group-2-fill"></i><span class="logo-name">Groups</span>
            </div>
            <div class="log-wrap">
                <i class="ri-logout-box-r-line"></i>
            </div>
        </div>
        <div class="cont-wrap">
            <aside class="sidebar">
                <div id="leftside-navigation" class="nano">
                    <ul class="nano-content">
                        <li class="home-btn-wrap">
                            <a href="index.html"><i class="ri-home-3-fill icon-mar"></i></i><span>홈</span></a>
                        </li>
                        <li class="sub-menu">
                            <a href="#"><i class="ri-group-fill icon-mar"></i><i class="fa fa-cogs"></i><span>그룹</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul class="row-bar-wrap">

                                <li><a href="#">내 학습그룹</a>
                                </li>
                                <li><a href="#">Panels</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:void(0);"><i class="ri-book-2-fill icon-mar"></i><span>숙제</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>
                                <li><a href="#">숙제 리스트</a>
                                </li>

                                <li><a href="#">숙제 평가</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:void(0);"><i class="ri-draft-fill icon-mar"></i><span>수업자료</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                        </li>
                        <li class="sub-menu solo-cont">
                            <a href="javascript:void(0);"><i class="ri-question-answer-fill icon-mar"></i><span>질문</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:void(0);"><i class="fa fa-bar-chart-o"></i><span>Charts</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>
                                <li><a href="charts-chartjs.html">Chartjs</a>
                                </li>
                                <li><a href="charts-morris.html">Morris</a>
                                </li>
                                <li><a href="charts-c3.html">C3 Charts</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                            <a href="javascript:void(0);"><i class="ri-question-answer-fill icon-mar"></i><span>승인</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                        </li>

                    </ul>
                </div>
            </aside>

                <th:block th:replace="${content}">

                </th:block>
            </div>
        </div>





    </body>
    <script th:src="@{/js/base-js.js}"></script>
</th:block>
</html>