<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jy.css">
</head>
<body>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<!-- content -->
<th:block th:replace="~{./include/homelayout :: homeContent( ~{ :: .main-wrap } )}">


    <div class="main-wrap">
        <div class="container-j">
            <h2 class="name1">강사 회원가입</h2>
            <form action="/memberreg" method="post"  enctype="multipart/form-data">
                <label for="login_id">아이디</label><br>
                <input type="text" id="login_id" name="login_id" placeholder="아이디는 4글자 이상입니다" minlength="4" required>
                <button type="button" id="checkDuplicateBtn">중복확인</button><br>

                <label for="password">비밀번호</label><br>
                <input type="password" id="password" name="pswd" required><br>

                <label for="name">이름</label><br>
                <input type="text" id="name" name="korn_flnm" required><br>

                <label for="user_nick">닉네임</label><br>
                <input type="text" id="user_nick" name="user_nickname" required>
                <button type="button" id="namebtn">중복확인</button><br>

                <label>생년월일</label>
                <div class="info" id="info__birth">
                    <select class="box" id="birth-year">
                        <option disabled selected>출생 연도</option>
                    </select>
                    <select class="box" id="birth-month">
                        <option disabled selected>월</option>
                    </select>
                    <select class="box" id="birth-day">
                        <option disabled selected>일</option>
                    </select>
                    <input type="hidden" name="date_birth" id="datebirth_input">
                </div>

                <label for="phone">연락처</label><br>
                <input type="tel" id="phone" name="idfr_telno" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" placeholder="000-0000-0000" required>
                <button type="button" id="identificationName" onclick="requestCert()">본인 인증 하기</button><br>

                <label for="postalCode">우편번호</label><br>
                <input type="text" id="postalCode" name="postalCode" required>
                <button type="button" id="findZipCodeBtn" onclick="findZipCode()">우편번호 찾기</button><br>

                <label for="address">주소</label><br>
                <input type="text" id="address" name="lotno_daddr" required><br>

                <label for="email">이메일</label><br>
                <input type="text" id="email" name="emailheader" required>
                <span>@</span>
                <select class="box" id="domain-list" name="domain">
                    <option value="type">이메일 선택</option>
                    <option value="naver.com">naver.com</option>
                    <option value="google.com">google.com</option>
                    <option value="hanmail.net">hanmail.net</option>
                    <option value="nate.com">nate.com</option>
                    <option value="kakao.com">kakao.com</option>
                </select>
                <input type="hidden" name="adm_eml_addr" id="email_adr" value="">

                <div class="left-a">
                    <span>첨부파일</span>
                    <input type="file" name="file" id="main_file" class="upload-hidden">
                </div>

                <input type="hidden" name="role" value="ROLE_FREE">
                <input type="submit" id="teacher" value="가입하기">

            </form>
        </div>
    </div>
</th:block>
<script th:inline="javascript">
    // 우편번호 찾기 함수
    function findZipCode() {
        daum.postcode.load(function(){
            new daum.Postcode({
                oncomplete: function(data) {
                    document.getElementById('postalCode').value = data.zonecode;
                    document.getElementById('address').value = data.address;
                }
            }).open();
        });
    }
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    // 인증번호를 요청하는 함수
    function sendVerificationCode() {
        const phoneNumber = document.getElementById('phone').value;
        const carrier = document.getElementById('carrier').value;

        console.log('전화번호:', phoneNumber);
        console.log('통신사:', carrier);
    }

    // 인증번호 확인 함수
    function verifyCode() {
        const verificationCode = document.getElementById('verifi').value;
        console.log('인증번호:', verificationCode);
    }
    /*]]>*/
</script>
<script>
    // '출생 연도' 셀렉트 박스 option 목록 동적 생성
    const birthYearEl = document.querySelector('#birth-year')
    // option 목록 생성 여부 확인
    isYearOptionExisted = false;
    birthYearEl.addEventListener('focus', function () {
        // year 목록 생성되지 않았을 때 (최초 클릭 시)
        if(!isYearOptionExisted) {
            isYearOptionExisted = true
            for(var i = 1960; i <= 2024; i++) {
                // option element 생성
                const YearOption = document.createElement('option')
                YearOption.setAttribute('value', i)
                YearOption.innerText = i
                // birthYearEl의 자식 요소로 추가
                this.appendChild(YearOption);
            }
        }
    });
    // '출생 월' 셀렉트 박스 option 목록 동적 생성
    const birthMonthEl = document.querySelector('#birth-month');
    let isMonthOptionExisted = false;
    birthMonthEl.addEventListener('focus', function () {
        if (!isMonthOptionExisted) {
            isMonthOptionExisted = true;
            for (let i = 1; i <= 12; i++) {
                const monthOption = document.createElement('option');
                monthOption.setAttribute('value', i);
                monthOption.innerText = i;
                this.appendChild(monthOption);
            }
        }
    });

    // '출생 일' 셀렉트 박스 option 목록 동적 생성
    const birthDayEl = document.querySelector('#birth-day');
    let isDayOptionExisted = false;
    birthDayEl.addEventListener('focus', function () {
        if (!isDayOptionExisted) {
            isDayOptionExisted = true;
            for (let i = 1; i <= 31; i++) {
                const dayOption = document.createElement('option');
                dayOption.setAttribute('value', i);
                dayOption.innerText = i;
                this.appendChild(dayOption);
            }
        }
    });

    //
    // "출생 연도" 선택 시
    document.getElementById("birth-year").addEventListener("change", function() {
        updateDateOfBirth();
    });

    // "월" 선택 시
    document.getElementById("birth-month").addEventListener("change", function() {
        updateDateOfBirth();
    });

    // "일" 선택 시
    document.getElementById("birth-day").addEventListener("change", function() {
        updateDateOfBirth();
    });

    // 날짜를 업데이트하여 숨은 입력 필드에 추가하는 함수
    function updateDateOfBirth() {
        var year = document.getElementById("birth-year").value;
        var month = document.getElementById("birth-month").value;
        var day = document.getElementById("birth-day").value;

        // 숨은 입력 필드에 선택한 값들을 합쳐서 넣음
        var dateOfBirth = year + "-" + month + "-" + day;
        document.getElementById("datebirth_input").value = dateOfBirth;
    }

    document.getElementById("domain-list").addEventListener("change", function (){
        makingemailadr();
    })

    function makingemailadr() {
        var emailhead = document.getElementById("email").value;
        var emailend = document.getElementById("domain-list").value;
        var emailadr = emailhead + "@" + emailend;
        document.getElementById("email_adr").value = emailadr;
    }

    // 아이디 중복 확인 버튼 이벤트 리스너 등록
    document.getElementById('checkDuplicateBtn').addEventListener('click', function() {
        // 아이디 입력값 가져오기
        const username = document.getElementById('login_id').value;
        console.log(username)
        // 아이디 입력값이 비어 있는지 확인
        if (username.trim() === '') {
            alert('아이디를 입력해주세요.');
            return; // 입력값이 없으면 중복 확인 로직을 실행하지 않고 함수 종료
        }

        // const isDuplicate = true; // 여기에 실제 중복 확인 로직을 구현하면 됩니다.

        $.ajax({
            type: "post",
            async: false,
            url: "/memberidcheck",
            data: {id: username},
            success: function (data){
                if(data > 0){
                    alert('중복된 아이디입니다. 다시 입력하세요.')
                } else{
                    alert('가입이 가능한 아이디입니다.')
                }
            }
        })
    });

    // 닉네임 중복 확인 버튼 이벤트 리스너 등록
    document.getElementById('namebtn').addEventListener('click', function() {
        // 닉네임 입력값 가져오기
        const nickname = document.getElementById('user_nick').value;
        console.log(nickname);
        // 닉네임 입력값이 비어 있는지 확인
        if (nickname.trim() === '') {
            alert('닉네임을 입력해주세요.');
            return; // 입력값이 없으면 중복 확인 로직을 실행하지 않고 함수 종료
        }
        $.ajax({
            type: "post",
            async: false,
            url: "/membernickcheck",
            data: {nick: nickname},
            success: function (data) {
                if(data > 0) {
                    alert('중복된 닉네임입니다')
                }else {
                    alert('가입이 가능한 닉네임입니다')
                }
            }
        })
    });

    $(document).ready(function() {

        var fileTarget = $('.filebox .upload-hidden'); //jquery는 다중 태그이벤트도 한번에 처리
        fileTarget.on('change', function(){ //change이벤트
            if(window.FileReader){ // modern browser
                var filename = $(this)[0].files[0].name; }
            else { // old IE
                var filename = $(this).val().split('/').pop().split('\\').pop(); // 파일명만 추출
            } // 추출한 파일명 삽입
            $(this).siblings('.upload-name').val(filename); });

        var imgTarget = $('.preview-image .upload-hidden');
        imgTarget.on('change', function() {
            var parent = $(this).parent();
            // parent.children('.upload-display').remove();

            if(window.FileReader){ //image 파일만
                if (!$(this)[0].files[0].type.match(/image\//)) return;

                var reader = new FileReader();
                reader.onload = function(e){
                    var src = e.target.result;
                    // parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img src="'+src+'" class="upload-thumb"></div></div>');
                    parent.find(".upload-thumb-wrap").children().attr("src", src);
                }
                reader.readAsDataURL($(this)[0].files[0]);
            } else {
                $(this)[0].select();
                $(this)[0].blur();
                var imgSrc = document.selection.createRange().text;
                parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img class="upload-thumb"></div></div>');

                var img = $(this).siblings('.upload-display').find('img');
                img[0].style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='true',sizingMethod='scale',src=\""+imgSrc+"\")";
            }
        });

    });

</script>

<!--본인인증-->
<script>
    IMP.init("imp04137027");
    let randomNumber = Math.floor(Math.random() * 9000) + 1000;
    function requestCert() {
        IMP.certification(
            {
                pg: "inicis_unified",
                merchant_uid: "test_luwj0w36" + randomNumber,
                name: "",
                popup: true,
            },
            rsp => {
                if(rsp.success){
                    onCertificationSuccess();
                    console.log("본인인증 성공!");

                    console.log("고유인증번호: " + rsp.imp_uid)
                    console.log(rsp.name)
                    console.log(rsp.merchant_uid)
                }else{
                    console.log(rsp.error_code);
                }
            }
        );
    }
    function onCertificationSuccess() {
        // 버튼 요소 찾기
        var button = document.getElementById('identificationName');
        // 버튼의 텍스트 변경
        button.innerText = "본인 인증 완료";
        // 버튼의 클릭 이벤트 제거
        button.removeAttribute('onclick');
    }




</script>


</body>
</html>