<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!--타임리프-->

<head>
    <meta charset="UTF-8">
    <title>joinForm페이지</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script> <!--제이쿼리-->
</head>


<body>
    <h1>회원가입</h1>
    <hr>
    <form action="/memberreg" method="post">
        <input type="text" name="login_id" id="user_id" placeholder="아이디는 4글자 이상입니다" minlength="4" maxlength="15">
        <button id="overlappedID" type="button">중복확인</button><br>
        <input type="password" name="pswd" minlength="6" placeholder="비밀번호는 6글자 이상입니다"><br>
        <input type="text" name="korn_flnm" placeholder="이름 입력하세요"><br>
        <input type="text" name="idfr_telno" placeholder="연락처 입력하세요"><br>
        <input type="text" name="date_birth" placeholder="생년월일 입력하세요"><br>
        <input type="text" name="adm_eml_addr" placeholder="이메일 입력하세요"><br>
        <input type="text" name="lotno_daddr" placeholder="주소 입력하세요"><br>
        <input type="text" name="user_nickname" id="user_nick" placeholder="닉네임 입력하세요">
        <button id="overlappedNick" type="button">중복확인</button><br>
        <button id="teacherBtn" type="button">교육자</button>
        <button id="studentBtn" type="button">학생</button><br>
        <button id="signup" type="button">회원가입</button>
    </form>

    <script>
    $("#overlappedID").click(function(){ //아이디 중복 확인
        $("#signup").attr("type", "button");
        const id = $("#user_id").val();
        $.ajax({
            type: "post",
            async: false,
            url: "http://localhost:8989/memberidcheck",
            data: {id: id},
            success: function (data) {
                if(data > 0) {
                    alert('중복된 아이디입니다')
                }else {
                    alert('가입이 가능한 아이디입니다')
                    // $("#signup").attr("type", "submit");
                }
            }
        })
    });

    $("#overlappedNick").click(function(){ //닉네임중복 확인
        $("#signup").attr("type", "button");
        const nick = $("#user_nick").val();
        $.ajax({
            type: "post",
            async: false,
            url: "http://localhost:8989/membernickcheck",
            data: {nick: nick},
            success: function (data) {
                if(data > 0) {
                    alert('중복된 닉네임입니다')
                }else {
                    alert('가입이 가능한 닉네임입니다')
                    $("#signup").attr("type", "submit");
                }
            }
        })
    });


        let selectedRole = null;
    $(document).ready(function () {
        // 교육자 버튼 클릭 시
        $('#teacherBtn').click(function () {
            selectedRole = 'ROLE_TEACHER';
            $('#teacherBtn').addClass('selected');
            $('#studentBtn').removeClass('selected');
        });

        // 학생 버튼 클릭 시
        $('#studentBtn').click(function () {
            selectedRole = 'ROLE_STUDENT';
            $('#studentBtn').addClass('selected');
            $('#teacherBtn').removeClass('selected');
        });

        // 회원가입 버튼 클릭 시
        $('#signup').click(function () {
            // 선택된 역할을 폼 데이터에 추가
            $('<input>').attr({
                type: 'hidden', //hidden 으로 화면에 보이지 않고 정보를 전달할 수 있다
                name: 'role',
                value: selectedRole
            }).appendTo('form');
        });

    });
    </script>
</body>
</html>