<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>joinForm페이지</title>
</head>
<body>
    <h1>회원가입</h1>
    <hr>
    <form action="sibal" method="post">
        <input type="text" name="login_id" placeholder="아이디 입력하세요"><br>
        <input type="password" name="pswd" placeholder="비밀번호 입력하세요"><br>
        <input type="text" name="korn_flnm" placeholder="이름 입력하세요"><br>
        <input type="text" name="idfr_telno" placeholder="연락처 입력하세요"><br>
        <input type="text" name="date_birth" placeholder="생년월일 입력하세요"><br>
        <input type="text" name="adm_eml_addr" placeholder="이메일 입력하세요"><br>
        <input type="text" name="lotno_daddr" placeholder="주소 입력하세요"><br>
        <input type="text" name="user_nickname" placeholder="닉네임 입력하세요"><br>
        <input type="submit">
    </form>
</body>
</html>