<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- content -->
<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
<div class="bon-wrap">
    <div class="page-title">
        <p>회원관리</p>
    </div>
    <div class="route-wrap">
        <a href="#">회원관리</a><p>/</p><a href="#">회원조회</a>
    </div>
    <div class="bon-content-wrap">
        <div class="box-title-wrap">
            <h3>회원조회</h3>
        </div>
        <div class="content-box">
            <div class="top-inp">
                <p>group(5)</p>
            </div>
            <div class="search-wrap-m">
                <div class="inp-wrap">
                    <label>구분</label>
                    <select id="userType" class="sel-des">
                        <option value="all">전체</option>
                        <option value="instructor">교육자</option>
                        <option value="student">학습자</option>
                    </select>
                    <button id="searchButton" class="sub-des">조회하기</button>
                </div>
            </div>
            <div id="groupTable" class="table-wrap">
                <!-- 서버에서 받은 데이터로 업데이트 될 테이블 영역 -->
                <table class="table-content">
                    <thead class="co-head">
                        <tr class="co-flex">
                            <th class="coco yy-m1">#</th>
                            <th class="coco yy-m2">아이디</th>
                            <th class="coco yy-m3">이름</th>
                            <th class="coco yy-m4">닉네임</th>
                            <th class="coco yy-m5">이메일</th>
                            <th class="coco yy-m6">연락처</th>
                            <th class="coco yy-m7">구분</th>
                            <th class="coco yy-m8">등급</th>
                            <th class="coco yy-m9">가입일</th>
                        </tr>
                    </thead>
                    <tbody class="co-body" >
                    <th:block th:each="user, i : ${list}">
                        <tr class="co-flex">
                            <td class="coco yy-m1" >[[${i.index + 1}]]</td>
                            <td class="coco yy-m2" >[[${user.login_id}]]</td>
                            <td class="coco yy-m3" >[[${user.korn_flnm}]]</td>
                            <td class="coco yy-m4" >[[${user.user_nickname}]]</td>
                            <td class="coco yy-m5" >[[${user.adm_eml_addr}]]</td>
                            <td class="coco yy-m6" >[[${user.idfr_telno}]]</td>
                            <td class="coco yy-m7">[[${user.role == "ROLE_STUDENT" ? "학생" : "교육자"}]]</td>
                            <td class="coco yy-m8" >[[${user.role}]]</td>
                            <td class="coco yy-m9" >[[${ #temporals.format(user.date_subscription, 'yyyy.MM.dd')}]]</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</th:block>


</body>
</html>
