<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 
※페이지 상세내용
1. 권한 학생만 접근가능한 페이지입니다.(qnaWBoard의 "질문등록" 버튼을 통해 접근합니다)
 -->

<body>
	<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
		<div class="bon-wrap">
			<div class="page-title">
				<p>질문</p>
			</div>
			<div class="route-wrap">
				<a href="/qnaW/qnaWBoard">질문</a><p>/</p><a href="/qnaW/qnaWRegist">질문등록</a>
			</div>
			<div class="bon-content-wrap">
				<div class="box-title-wrap">
					<h3>질문 등록</h3>
				</div>
				<div class="content-box">
					<form name="InsertWForm" action="InsertWForm" method="post">
						<h3 style="margin-bottom: 10px;">기본 정보</h3>
						<div class="reg-title-wrap" style="margin-bottom: 15px;">
							<div class="like-table-wrap">
								<div class="sinfo-wrap-w">
								<input type="hidden" name="group_no" th:value="${group.group_no}">
								<input type="hidden" name="login_id" th:value="${group.login_id}">
									<p>교육자명</p>
									<h4 class="name-w">
										<i class="ri-user-star-line"></i>&nbsp;[[${group.korn_flnm}]]
									</h4>
								</div>
								<div class="sinfo-wrap-w">
									<p>그룹명</p>
									<h4 class="name-w">
										<i class="ri-file-user-line"></i>&nbsp;[[${group.group_nm}]]
									</h4>
								</div>
							</div>
						</div>
						<h3 style="margin-bottom: 10px;">질문 내용</h3>
						<div class="reg-title-wrap">
							<div class="group-naming-wrap-w">
								<div class="group-name">
									<label>제목</label> <input class="inp-reg-w" type="text" name="qtitle">
								</div>
								<div class="group-name">
									<label>내용</label>
									<textarea class="wj-textarea" name="qcontent"></textarea>
								</div>
							</div>

						</div>
						<div class="reg-btn-wrap">
							<button type="submit">질문등록</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>