<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<th:block
		th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
		<div class="bon-wrap">
			<div class="page-title">
				<p>질문</p>
			</div>
			<div class="route-wrap">
				<a href="#">질문</a><p>/</p><a href="/qnaW/qnaWBoard">질문게시판</a>
			</div>
			<div class="bon-content-wrap">
				<div class="box-title-wrap">
					<h3>질문게시판</h3>
				</div>
				<div class="content-box">
				<form action="qnaWBoard" method="get">
					<div class="top-inp">
						<p>질문 내용 조회</p>
							<div class="inp-wrap" style="margin-right: 10px; justify-content: end;" th:if="${#authorization.expression('hasRole(''ROLE_STUDENT'')')}">
							    <button type="button" class="regbtn-des" style="margin-right: 10px;" onclick="qnaWRegist()">질문등록</button>
							</div>
					</div>
					<div class="search-wrap-w" style="margin-bottom: 0; padding-bottom: 0; padding-left: 0;">
						<div class="top-line-btn-wrap" style="margin-bottom: 15px">
							<input type="text" placeholder="검색해주세요" style="width: 300px" name="title">
							<i class="ri-search-line"></i>
							<button type="submit" class="wj-button">검색</button>
						</div>
					</div>
					<div class="table-wrap">
						<table class="table-content">
							<thead class="co-head">
								<tr class="co-flex">
									<th class="coco crcr-0">No</th>
									<th class="coco w-1">제목</th>
									<th class="coco w-2">그룹명</th>
									<th class="coco w-3">이름</th>
									<th class="coco w-4">등록일자</th>
									<th class="coco w-5">수신상태</th>
								</tr>
							</thead>
							<tbody class="co-body">
								<th:block th:each="qnavo, status : ${qnavo}">
								<tr class="co-flex" >
									<td class="coco crcr-0 center-flex">[[${status.count}]]</td>
									<td class="coco w-1">
									    <a th:href="@{'/qnaW/qnaWDetail?qnumber=' + ${qnavo.qnumber}}">
									        <span th:text="${qnavo.qtitle}"></span>
									    </a>
   									</td>
									<td class="coco w-2" th:text="${qnavo.group_nm}"></td>
									<td class="coco w-3" th:text="${qnavo.korn_flnm}"></td>
									<td class="coco w-4" th:text="${qnavo.qregdate}"></td>
									<td class="coco w-5">
										<span th:if="${qnavo.ccontent != null}">
										<i class="ri-checkbox-circle-line"></i>답변완료</span>
										<span th:unless="${qnavo.ccontent != null and !qnavo.ccontent.isEmpty()}">대기중</span>
									</td>
								</tr>
								</th:block>
							</tbody>
						</table>
					</div>
<!-- 						<div class="page-wrap right-p"> -->
<!-- 							<div class="pagination"> -->
<!-- 								<a th:href="@{qnaWBoard(page=1, title = ${pageVO.cri.title})}">&laquo;</a> -->
<!-- 								<th:block th:each="page : ${pageVO.pageList}"> -->
<!-- 									<a th:class="${pageVO.page == page ? 'act':''}" -->
<!-- 										th:href="@{qnaWBoard(page = ${page}, title = ${pageVO.cri.title})}">[[${page}]]</a> -->
<!-- 								</th:block> -->
<!-- 								<a -->
<!-- 									th:href="@{qnaWBoard(page = ${pageVO.realEnd}, title = ${pageVO.cri.title})}"> -->
<!-- 									&raquo;</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
					</form>
				</div>
			</div>
		</div>
	</th:block>
	<script th:inline="javascript">
		var msg = '[[${msg}]]';
		msg = JSON.parse(msg);
				
		if(msg != null) {
			alert(msg);
		}
	
		function qnaWRegist(){
			window.location.href="/qnaW/qnaWRegist";
		}
		
	    // 검색 옵션 값이 변경될 때마다 파라미터 값을 설정
	    function setSearchOption() {
	        var searchOption = document.getElementById("searchOption").value;
	        document.getElementById("searchType").value = searchOption;
	    }
	</script>
</body>
</html>