<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
		<div class="bon-wrap">
			<div class="page-title">
				<p>질문</p>
			</div>
			<div class="route-wrap">
				<a href="/qnaW/qnaWBoard">질문</a><p>/</p><p>질문상세</p>
			</div>
			<div class="bon-content-wrap">
            <div class="box-title-wrap">
                <h3>질문 답변</h3>
            </div>
            <form class="content-box" name="actionForm" action="#" method="post">
                <h3 style="margin-bottom: 10px;">기본 정보</h3>
                <div class="reg-title-wrap" style="margin-bottom: 15px;">
                    <div class="like-table-wrap">
							<div class="sinfo-wrap-w">
								<p>교육자명</p>
								<h4 class="name-w">
									<i class="ri-user-star-line"></i>&nbsp;[[${vo.tname}]]
								</h4>
							</div>
							<div class="sinfo-wrap-w">
								<p>그룹명</p>
								<h4 class="name-w">
									<i class="ri-file-user-line"></i>&nbsp;[[${vo.group_nm}]]
								</h4>
							</div>
							<div class="sinfo-wrap-w">
								<p>학생명</p>
								<h4 class="name-w">
								<input type="hidden" name="login_id" th:value="${vo.login_id}">
									<i class="ri-file-user-line"></i>&nbsp;[[${vo.korn_flnm}]]
								</h4>
							</div>
						</div>
					</div>
					<h3 style="margin-bottom: 10px;">질문 내용</h3>
					<div class="reg-title-wrap">
						<div class="group-naming-wrap-w">
							<input type="hidden" class="inp-reg-w" name="qnumber" th:value="${vo.qnumber}" readonly>
							<div class="group-name">
								<label>제목</label> <input class="inp-reg-w" type="text" th:value="${vo.qtitle}" readonly>
							</div>
							<div class="group-name">
								<label>내용</label>
								<textarea class="wj-textarea" name="qcontent" readonly>[[${vo.qcontent}]]</textarea>
							</div>
							<div class="group-name">
							    <label>답변</label>
							    <textarea class="wj-textarea" name="ccontent" th:readonly="${membervo.role == 'ROLE_STUDENT'}">[[${vo.ccontent}]]</textarea>
							</div>
						</div>
					</div>
					<div class="reg-btn-wrap" th:if="${#authorization.expression('hasRole(''ROLE_TEACHER'') or hasRole(''ROLE_TEACHER_BASICTIER'') or hasRole(''ROLE_TEACHER_MASTERTIER'')')}">
					    <button type="button" id="updateBtn" style="margin-right: 10px;"
					        th:disabled="${vo.ccontent != null}">답변등록</button>
					    <button type="button" id="deleteBtn">삭제</button>
					</div>
					<div class="reg-btn-wrap" th:if="${#authorization.expression('hasRole(''ROLE_STUDENT'')')}">
					    <button type="button" onclick="goback()">뒤로가기</button>
					</div>
				</form>
			</div>
		</div>
	</th:block>
	<script>
		function goback(){
			window.location.href="/qnaW/qnaWBoard";
		}
	
		var updateBtn = document.getElementById("updateBtn");
		updateBtn.addEventListener('click', function(){
			event.preventDefault();
			if(confirm("답변 등록하시겠습니까?") == false){
				return;
			}
			document.actionForm.action = "updateForm";
			document.actionForm.submit();
		})
		
		var deleteBtn = document.getElementById("deleteBtn");
		deleteBtn.onclick=function(){
			event.preventDefault();
			if(confirm("삭제하시겠습니까?") == false){
				return;
			}
			document.actionForm.action = "deleteForm";
			document.actionForm.submit();
		}
	</script>
</body>
</html>