<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 
※권한
ㄱ. 해당 페이지는 qnaWBoard에서 제목 클릭시 이동하는 상세화면으로, 권한제한없이 볼 수 있음
단, 답변등록, 삭제 버튼은 선생권한 볼 수 있습니다.
 -->
 
 <!-- 
※수정할내용
1. 75줄 : 버튼을 선생권한만 보이게 설정을 나름대로 했지만 모든 권한에서 보이지않는 상황입니다.
 -->

<body>
	<!-- content -->
	<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
		<div class="bon-wrap">
			<div class="page-title">
				<p>질문</p>
			</div>
			<div class="route-wrap">
				<a href="/qnaW/qnaWBoard">질문</a><p>/</p><a href="/qnaW/qnaWRegist">질문등록</a><p>/</p><p>질문상세</p>
			</div>
			<div class="bon-content-wrap">
            <div class="box-title-wrap">
                <h3>질문 등록</h3>
            </div>
            <form class="content-box" name="actionForm" action="#" method="post">
                <h3 style="margin-bottom: 10px;">기본 정보</h3>
                <div class="reg-title-wrap" style="margin-bottom: 15px;">
                    <div class="like-table-wrap">
							<div class="sinfo-wrap-w">
								<p>교육자명</p>
								<h4 class="name-w">
									<i class="ri-user-star-line"></i>&nbsp;교육자
								</h4>
							</div>
							<div class="sinfo-wrap-w">
								<p>그룹명</p>
								<h4 class="name-w">
									<i class="ri-file-user-line"></i>&nbsp;JAVA입문반
								</h4>
							</div>
							<div class="sinfo-wrap-w">
								<p>학생명</p>
								<h4 class="name-w">
									<i class="ri-file-user-line"></i>&nbsp;홍길동
								</h4>
							</div>
						</div>
					</div>
					<h3 style="margin-bottom: 10px;">질문 내용</h3>
					<div class="reg-title-wrap">
						<div class="group-naming-wrap-w">
							<div class="group-name">
								<label>No</label> <input type=text class="inp-reg-w" name="QNUMBER" th:value="${vo.QNUMBER}" readonly>
							</div>
							<div class="group-name">
								<label>제목</label> <input class="inp-reg-w" type="text" th:value="${vo.QTITLE}" readonly>
							</div>
							<div class="group-name">
								<label>내용</label>
								<textarea class="wj-textarea" name="QCONTENT" readonly>[[${vo.QCONTENT}]]</textarea>
							</div>
							<div class="group-name">
								<label>답변</label>
								<textarea class="wj-textarea" name="CCONTENT">[[${vo.CCONTENT}]]</textarea>
							</div>
						</div>
					</div>
<!-- 					th:if="${#authorization.expression('hasRole(''ROLE_STUDENT'')')}" -->
					<div class="reg-btn-wrap">
						<button type="button" id="updateBtn" style="margin-right: 10px;">답변등록</a>
						<button type="button" id="deleteBtn">삭제</a>
					</div>
				</form>
			</div>
		</div>

	</th:block>
	<script>
		var updateBtn = document.getElementById("updateBtn");
		updateBtn.addEventListener('click', function(){
			event.preventDefault();
			if(confirm("수정하시겠습니까?") == false){
				return;
			}
			document.actionForm.action = "updateForm";
			document.actionForm.submit();
		})
		
		var deleteBtn = document.getElementById("deleteBtn");
		deleteBtn.onclick=function(){
			event.preventDefault();
			if(confirm("삭제하시겠습니까?") == false){
				return;
			}
			document.actionForm.action = "deleteForm";
			document.actionForm.submit();
		}
	</script>
</body>
</html>