@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap'); /* 숙제 등록 */

.h-ex-wrap{display: flex; justify-content: start; margin: 10px 0}
.h-ex-wrap label{max-width: 230px; display: flex; align-items: center; flex-basis: 20%; font-size: 14px; font-weight: 600}
.h-ex-wrap label input{ width: 200px; padding: 5px; font-size: 15px;}
.exp-m{flex-basis: 40%; max-width: 400px!important;}

.inout-m{display: flex; flex-direction: column; justify-content: start; }


.plus-btn-des{padding: 7px 15px; margin: 0 0 10px 0; font-size: 12px; font-weight: 600; background-color: #ffffff; border: 1px solid #bbbbbb; cursor: pointer; }

.del-btn-m{margin-left: 20px; padding: 5px 13px; font-size: 12px; font-weight: 600; background-color: #ffffff; border: 1px solid #bbbbbb; cursor: pointer;}

.select {

    margin: 0 10px;
    display:flex;
    flex-direction: column;
    position:relative;
    width:100px;


}

.join-btn{text-decoration: none}

.select-box {
    margin: 0 10px;
    border: 1px solid #464646;
    position: relative;

    width: 120px;
    height:30px;
    display: block;


    font-size: 14px;
    color: #60666d;
}

.select-box__current {
    position: relative;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}
.select-box__current:focus + .select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;

}
.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}

.select-box__icon {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    width: 20px;
    font-size: 15px;

}
.select-box__value {
    display: flex;
    align-items: center;
    justify-content: start;
}
.select-box__input {
    display: none;
}
.select-box__input:checked + .select-box__input-text {
    display: block;
}
.select-box__input-text {
    display: none;
    width: 140px;
    margin: 0;
    padding: 5px 0 5px 7px ;
    background-color: #fff;
}
.select-box__list {
    position: absolute;
    width: 160px;

    padding: 0;
    list-style: none;
    opacity: 0;
    left: -1px;
    border: 1px solid #bbbbbb;
    -webkit-animation-name: HideList;
    animation-name: HideList;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__list li{
    border: 1px solid #ffffff;
}
.select-box__list li label{
    font-size: 13px !important;
}
.select-box__list li:hover{
    border: 1px solid #5d5f63;
}
.select-box__option {
    display: block;
    padding: 5px;
    background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}

.select-box__value p{font-size: 13px!important;}


@-webkit-keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

.aria-m{resize: none; padding: 20px; font-size: 15px;height: 200px;}



.fon-m{display: flex; justify-content: start; align-items: center; gap: 20px;}
.fon-m p{font-size: 14px; font-weight: 600;}


input[type="text"]:focus, textarea:focus {outline: none; border-color:#1A8EF9;}

.work-t1{flex-basis: 5%}
.work-t2{flex-basis: 30%}
.work-t3{flex-basis: 7%}
.work-t4{flex-basis: 8%}
.work-t8{flex-basis: 14%}
.work-t5{flex-basis: 10%}
.work-t6{flex-basis: 10%}
.work-t7{flex-basis: 11%}



.work-m1{flex-basis: 22%}
.work-m2{flex-basis: 10%}
.work-m3{flex-basis: 10%}
.work-m4{flex-basis: 12%}
.work-m5{flex-basis: 12%}
.work-m6{flex-basis: 10%;}
.work-mm{flex-basis: 5%}
.work-m7{flex-basis: 14%}
.ck-mmm { color: #1d8102; display: flex; justify-content: start; align-items: center; gap: 5px}
.ck-mmm i{font-size: 17px}

.two-m{display: flex; justify-content: start; gap: 0px;}
.fl-row-m{flex-basis: 25%}
.fl-row-m2{flex-basis: 75%; padding-left: 0}



.sw-bar-m{ display: flex;cursor: row-resize; justify-content: center; align-items: center;}
.flc-center-mm{display: flex; justify-content: center; }
.flc-center-mm label{flex-basis: 50%; display: flex; justify-content: center;}

.re-aria-m{width: 96%; height: 500px; border-color: #bbbbbb}
.result-m{min-height: 100px; display: flex; flex-direction: column; justify-content: start; align-items: start; gap: 10px}
.test-m{width: 98%; padding: 10px; border: 1px solid #bbbbbb; display: flex; justify-content: start; align-items: center; gap: 30px}
.test-m p{color: #1d8102}

.fail-m{color: #ff5656!important;}
.st-mm{flex-basis: 10%}
.sec-mm{flex-basis: 10%}


.code-editor {
    position: relative;
}
.code-editor textarea {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    line-height: 1.7;
    flex: 1;
    height: 600px;
    padding: 10px 10px 10px 5px;
    font-size: 14px; /* textarea의 글꼴 크기 설정 */
    border: none;
    resize: none;
    outline: none; /* 포커스된 textarea의 테두리 제거 */
    background-color: transparent; /* 배경색 투명으로 설정 */

}



/* HTML: <div class="loader"></div> */
.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}
/* HTML: <div class="loader"></div> */
.loader {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    animation: l1 1s linear infinite alternate;
}
.loader:before {
    font-size: 15px;
    content:"Loading..."
}
@keyframes l1 {to{opacity: 0}}

/* HTML: <div class="loader"></div> */
.loaderb {
    margin: 5px 21px ;
    width: 7px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 12px 0 #ffffff, -12px 0 #dddddd;background: #ffffff }
    33% {box-shadow: 12px 0 #ffffff, -12px 0 #dddddd;background:#dddddd}
    66% {box-shadow: 12px 0 #dddddd,-12px 0 #ffffff; background: #dddddd}
    100%{box-shadow: 12px 0 #dddddd,-12px 0 #ffffff; background: #ffffff }
}


.content-line-m{display: none; width: 100%; background-color: #ffffff; height: 100%;}
.left-h-m{flex-basis: 60%}
.right-h-m{flex-basis: 40%}
.row-m{box-shadow: 0 0 25px -9px rgb(7, 47, 79, 0.1);padding-top: 20px;display: flex; justify-content: start; align-items: start; gap: 20px;}
.col-mm{gap: 30px; flex-basis: 45%; display: flex; flex-direction: column; justify-content: start;}
.w-100{width: 100% ;    border-left: 1px solid #dddddd;
    padding-left: 25px;}
.nogap-m{gap: 60px}
.we-m{font-size: 15px;
    font-weight: 600;}

.tt-m label{    background-color: whitesmoke; flex-basis: 23%; margin: 0; padding: 10px 5px; font-size: 13px}
.ee-mm{flex-basis: 50%!important;}
.ti-h3{ padding: 14px 0 ; width: 100%; background-color: #efefef
}
.ti-h3 h3{margin-left: 8px ; font-size: 18px }
.tt-title-m{background-color: #fafafa; border-radius: 3px; color: #278dd1; font-size: 13px; font-weight: 600; border-bottom: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5;}
.sel-des-2m{padding: 7px 0 7px 3px; width: 160px; margin: 0}
.sel-des-2m:focus{outline: none;}
.tt-wr-m{justify-content: space-between}

.crc-m1{flex-basis: 8%}
.crc-m2{flex-basis: 32%}
.crc-m3{flex-basis: 10%}
.crc-m4{flex-basis: 45%}

.t-m1{flex-basis: 50%!important;}
.t-m2{flex-basis: 50%!important;}

#mama-m2 .table-content{min-height: 438px;}
#mama-m2 table tbody{display: block; overflow-y: scroll; max-height: 418px; -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */ border-bottom: #5d5f63;}

#mama-m .table-content{min-height: 400px;}
#mama-m table tbody{display: block; overflow-y: scroll; max-height: 380px; -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */ border-bottom: #5d5f63;}

.bor-m{margin: 0; border-bottom: 1px solid #e5e5e5}
.ssd-mm{margin: 10px 10px 15px 0}
.sts-m{justify-content: start}

.LV0{color: #2189FF}
.LV1{color: #1BBAFF}
.LV2{color: #47C84C}
.LV3{color: #FFA800}
.LV4{color: #FF6B18}
.LV5{color: #C658E1}


.jst-wrap-m{display: flex; justify-content: space-between; align-items: center}
.ppl-m{    background-color: #ffffff;
    color: #000;
    border: 1px solid #bbbbbb;}
.ti-mm{color: #278dd1}

.tmt-m{margin: 0; border-bottom: 1px solid #dddddd; background-color: whitesmoke;}
.tmt-m label{padding: 7px;}
.tm-m0{flex-basis: 20%!important;}
.tm-m1{flex-basis: 40%!important;}
.tm-m2{flex-basis: 40%!important;}

.eded-m{position: relative; display: flex; gap: 5px}
.line-numbers {
    line-height: 1.7;
    width: 15px;
    height: 600px;
    padding: 10px 5px 10px 15px;
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    font-size: 14px; /* 줄 번호의 글꼴 크기 설정 */
    border-right: 1px solid #ccc;
    background-color: #f5f5f5; /* 줄 번호의 배경색 */
    color: #adadad;
    user-select: none; /* 줄 번호 선택 방지 */
    overflow: hidden; /* 스크롤 바를 숨김 */
    text-align: end;
    font-weight: 600;
}
.evg-m{font-size: 13px; font-weight: 600;}
.ee-mm-date{padding: 5px; font-size: 13px;}
.sub-wrap-ms{display: flex; justify-content: start; align-items: center; gap: 30px;}
.enddate-m{display: flex; justify-content: start; align-items: center; gap: 5px;}
.enddate-m label{font-size: 13px; font-weight: 600;}


/* 폰트 임포트 */

.show-code-wrap-m{

    border: 1px solid #dddddd;
    padding: 20px; background-color: #000; line-height: 1.7; color: #cbcbcb;
    word-wrap: break-word; /* 긴 단어 줄바꿈 */ height: 400px;
    overflow: auto; font-weight: 500; font-size: 13px;}
.ul-wrap-m{display: flex; justify-content: center; width: 100%}

.group-name pre{font-size: 12px;
    line-height: 1.6;
    letter-spacing: 1px;
    white-space: pre-wrap; /* 줄바꿈 유지 */
    word-wrap: break-word; /* 긴 단어 줄바꿈 */}

.gray-m{background-color: lightgrey}


#myPreTag{font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;}

.flfl-mmm{display: flex;}

.devi-wrap-m{display: flex;}
.devi-f-wrap-m{flex-basis: 70%;}
.devi-s-wrap-m{flex-basis: 30%;}


.yet-wrap-m{gap: 10px; box-sizing: border-box;  border-radius: 5px;  display: flex; flex-direction: column; justify-content: start; width: 100%;}

.yet-content-m{box-sizing: border-box; padding: 20px; border: 2px solid #ba6669; border-radius: 10px;}
.yet-content-m h5{font-size: 13px; font-weight: 600; }
.yet-content-m p{font-size: 12px;}
.yet-content-m p span{margin-left: 4px; font-size: 14px; font-weight: 600;}
.re-padding-m{padding: 20px 15px  ;}
.small-title-m{padding: 5px; width: auto; color: #ffffff; background-color: #4b5062; display: flex; align-items: center;}
.small-title-m i{color: #ef5050; display: inline-block; font-size: 5px; margin: 3px 7px 3px 3px  }



/* 가입 승인 대기*/
.wait-wrap-m{margin: 0 auto;}
.wait-box-m{margin-top: 100px; padding: 60px; background-color: #ffffff; width: 700px; display: flex; flex-direction: column; align-items: center;}
.wait-box-m .title-ex-wrap-m p{font-weight: 600; font-size: 13px; margin-top: 20px; color: #5f5f5f;}
.wait-title-m i{margin-right: 5px; color: #1d8102;}

.wait-content-m{margin-top: 20px;}
.ex-wrap-m{margin-top: 20px; display: flex; padding: 30px; background-color: #fffce9; border: 1px solid #906806; align-items: end;}
.ex-wrap-m i{display: inline-block; color: #906806; font-size: 22px; margin-right: 10px;}
.ex-wrap-m p{margin: 0; font-size: 15px ; color: #1e1e1e;}

.jo-info-wrap{display: flex; flex-direction: column; gap: 10px; margin: 20px;}
.jo-info-wrap p{font-size: 13px; font-weight: 600;}
.jo-info-wrap h5{font-size: 15px; color: #191a2e;}
.jo-info-wrap .info-ddd-wrap-m{display: flex; justify-content: start; gap: 30px;}
.btn-jojo-wrap-m{display:  flex; justify-content: end; margin-top: 30px;}

.cs-btn-m{padding: 7px 15px; background-color: #ec5959; cursor: pointer; border: none; color: #ffffff; font-size: 12px; font-weight: 600; border-radius: 3px;}



.fl-row-m h3 span{font-size: 14px; font-weight: 600}

#addctg{    margin-left: 8px;
    background-color: cornflowerblue;}


.add-wrap-mmm{display: flex; justify-content: start; align-items: center; gap: 10px}
.add-wrap-mmm i {font-size: 20px; cursor: pointer;}
.add-wrap-mmm .add-btn-m{padding: 5px 17px;
    font-size: 12px;
    background: #ffffff;
    font-weight: 600;
    border: 1px solid #bbbbbb;
    cursor: pointer; }




.modal-wrap-m{ display: flex;  justify-content: start; flex-direction: column;}
.modal-wrap-m h3{font-size: 14px; font-weight: 700; margin: 0; padding: 10px 40px 10px 0px; }
.modal-search-m{margin-top: 10px; background-color: #f4f2f2; display: flex; justify-content: start; padding: 15px; gap: 20px;}
.modal-name-m{display: flex; justify-content: start; gap: 10px; align-items: center;}
.modal-name-m p{margin: 0; font-size: 12px; font-weight: 600;}
.modal-name-m input{font-size: 11px; padding: 3px; width: 80px; }

.last-cm{width: 50px;}
.num-m{width: 40px;}

.justy-m{justify-content: space-between;}
.search-left-wrap{display: flex; justify-content: space-between; align-items: center; gap: 20px;}
#modalcho{width: 100%; height: 100%; position: fixed; top: 0; left: 0; display: flex; justify-content: center; align-items: center; background-color: rgb(0,0,0,0.5); }
#modalcho.hidden{display: none;}

.delbtnt-m{border-radius: 2px; cursor: pointer; font-size: 10px;  padding: 7px 13px; background-color: #ffffff;  border: none; }

.close-wrap-m{    display: flex;
    justify-content: end;
    margin-top: 15px;}
#clch{padding: 5px 14px; font-size: 12px; font-weight: 600; background-color: #ffffff;  border: 1px solid #bbbbbb; cursor: pointer}
#clsf{padding: 5px 14px; font-size: 12px; font-weight: 600; border: none; color: #ffffff; background-color: #18232f; cursor: pointer;}


.work-mmm1{flex-basis: 20%}
.work-mmm2{flex-basis: 8%}
.work-mmm3{flex-basis: 8%}
.work-mmm4{flex-basis: 18%}
.work-mmm5{flex-basis: 8%}
.work-mmm6{flex-basis: 23%}
.work-mmm7{flex-basis: 10%}



.sksk-m{        padding: 4px 15px;
    margin: 10px 10px 15px 0px;
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    font-size: 13px;
    cursor: pointer;
}


.te-wrap-m{display: flex; flex-basis: 100%; padding: 20px; background-color: #FFFFFF;}
.left-te-wrap{ display: flex; flex-direction: column; flex-basis: 65%; border-right: 1px solid #C8CBD9;}
.right-te-wrap{display: flex; flex-direction: column; flex-basis: 35%;}

.left-top-te{   border-bottom: 1px solid #C8CBD9; padding: 20px; height: 400px;}
.cum-m{display: flex; flex-direction: column; gap: 30px; align-items: start;}
.right-top-te{ border-bottom: 1px solid #C8CBD9; height: 400px; padding: 20px; }

.left-bot-te{ display: flex; }
.right-bot-te{padding: 20px;}

.bot-te-left{max-width: 70%; flex-basis: 50%; border-right: 1px solid #C8CBD9; padding: 20px;}
.bot-te-right{flex-basis: 50%; padding: 20px;}

.ch-mm{
    padding: 14px 20px 14px 20px;
}
#myChart {
    width: 100%; /* 원하는 가로 크기 */
    height: 250px; /* 원하는 세로 크기 */
}
.cscs{
    color: #637d90;
}
.chart-wrap-m{width: 100%; flex-basis: 100%;}
.chart-scd-wrap-m{display: flex; justify-content: center;width: 100%;}
.ltt-up-wrap-m{display: flex; flex-direction: column; gap: 20px;}
.ltt-up-wrap-m h5{font-size: 15px;}
.ltt-up-wrap-m h3{    padding: 0 0 0 7px;
    font-size: 26px;}

.ltt-wrap{background-color: #FBFCFE; padding: 8px; border: 1px solid #DDE4F0; border-radius: 7px;}
.ltt-wrap p{margin: 0; font-size: 12px; color: #5A6ACF;}

.bubble-wrap-m{position: relative;}

.reco-wrap-m{width: 90%; display: flex; flex-direction: column; align-items: start; justify-content: start; gap: 20px;}

.reco-content-m{width: 100%; display: flex; margin: 0 10px; padding: 20px 0; justify-content: space-between; align-items: center;}
.reco-content-m h4{ font-size: 13px;}
.reco-content-m p{font-size: 13px;}
.reco-wrap-m > div:not(:last-child) {
    border-bottom: 1px solid #DBE5EB;
}
.toggle-menu-m {display: none;}
.toggle-m{ border: 1px solid #dddddd; width: 95%; margin-top: 10px; padding: 1px; background-color: #f4f4f4;  display: flex; justify-content: start;}
.toggle-m2{ border: 1px solid #dddddd; width: 100%;  padding: 1px; background-color: #f4f4f4;  display: flex; justify-content: start;}
.acts-m{
    background-color: #fbfbfd;
    border-radius: 5px;
    color: cornflowerblue;
}

.active-m { display: block; animation: fadeIn 0.5s ease-in-out}
.active-m2{display: flex; animation: fadeIn 0.5s ease-in-out; overflow: auto}
.toggle-m li {
    list-style: none;
    flex: 1;
    margin: 2px;
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -.05px;
    line-height: 16px;
    padding: 7px 0 9px;
    cursor: pointer;
    list-style: none;
    border: none;


}
.toggle-m2 li {
    list-style: none;
    flex-basis: 15%;
    margin: 2px;
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -.05px;
    line-height: 16px;
    padding: 7px 0 9px;
    cursor: pointer;
    list-style: none;
    border: none;


}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
         opacity: 1;
     }
}


.mrmr-1m{flex-basis: 40%}
.mrmr-2m{flex-basis: 30%}
.mrmr-3m{flex-basis: 25%}
tbody tr:hover{background-color: #f9f9f9;
}
.work-m1 a {text-decoration: none; color:#0b4570; font-size: 12.4px }


/*관리자 메인 페이지*/
.admin-main-wrap-m{display: flex; width: 100%; justify-content: center; gap: 20px; margin-top: 30px;}
.chart-wrap-mm{



    vertical-align: middle;
    width: 299px;

    background-color: #fff;
    margin-top: 30px;
    box-shadow: 0 0 8px 0px rgb(79, 79, 79, 0.1);
    /*padding: 14px 20px 14px 20px;*/
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

}

.admin-top-wrap-m{margin-top: 10px; width: 100%; display: flex; justify-content: center; gap: 13px;}
.mnm-mm{flex-direction: row; display: flex; justify-content: space-between; width: 163px; padding: 19px}
.mnm-mm p{margin: 5px 0 10px 0; font-size: 10px; opacity: 0.6; font-weight: 800}
.ad-wrap-mm{overflow: hidden; display: flex; flex-direction: column; justify-content: start;}
#myChart, #myChartt{}
.admin-min-title {padding: 10px 17px; border: none; width: 100%; background-color: #eaeaea;
}
.admin-min-title h4{margin: 0; border: none; font-size: 12px; font-weight: 550}
.ch-mm{
    padding: 14px 20px 14px 20px;
}
.fl-mk{display: flex; flex-direction: column; justify-content: center}

.main-num-m{font-size: 24px; font-weight: 600; margin: 0}



.mww-1{flex-basis: 60%}
.mww-2{flex-basis: 15%}
.mww-3{flex-basis: 20%}