.reg-btn-wrap button {

  padding: 10px 20px;

  border: none;

  border-radius: 4px;

  cursor: pointer;

  

  color: white;

  margin-right: 10px;

}

.reg-btn-wrap button:last-child {

  background-color: #6c757d;

}

/*notidetail*/
.mrmry-1{flex-basis: 50%;}

.mrmry-2{flex-basis: 20%;}

.mrmry-3{flex-basis: 20%;}

.mrmry-4{flex-basis: 5%;}

/*notilist  notidetail*/

.crcry-0 { flex-basis: 5%  }

.crcry-1 { flex-basis: 16.7%;}

.crcry-2 { flex-basis: 16.7%;}

.crcry-3 { flex-basis: 16.7%;}

.crcry-4 { flex-basis: 16.7%;}

.crcry-5 { flex-basis: 16.7%;}

.crcry-6 { flex-basis: 16.5%;}

.y-1{flex-basis: 15%;}

.y-2{flex-basis: 25%;}

.y-3{flex-basis: 35%;}

.y-4{flex-basis: 25%;}