.content-displayy{
	
border-top: 1px solid #ececec;
margin-bottom: 10px;
	}
.list-button {margin-left: 10px;}
.list-buttony {
			
  background-color: #6c757d !important;
  margin-left: 10px;

}
.reg-btn-wrapy {
margin-right: 10px; 
}


/*notidetail*/
.mrmry-1{flex-basis: 80%;}

.mrmry-2{flex-basis: 15%;}


/*notilist  notidetail*/

.crcry-0 { flex-basis: 5%  }

.crcry-1 { flex-basis: 16.7%;}

.crcry-2 { flex-basis: 16.7%;}

.crcry-3 { flex-basis: 16.7%;}

.crcry-4 { flex-basis: 16.7%;}

.crcry-5 { flex-basis: 16.7%;}

.crcry-6 { flex-basis: 16.5%;}

.y-1{flex-basis: 15%;}

.y-2{flex-basis: 25%;}

.y-3{flex-basis: 35%;}

.y-4{flex-basis: 25%;}