<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- content -->
<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
    <div class="bon-wrap">
        <div class="page-title">
            <p>수업자료</p>
        </div>
        <div class="route-wrap">
            <a href="/dataW/dataWBoard">수업자료</a><p>/</p><a href="/dataW/dataWRegist">수업자료등록</a>
        </div>
        <div class="bon-content-wrap">
            <div class="box-title-wrap">
                <h3>수업자료등록</h3>
            </div>
            <div class="content-box">
            
              <form name="InsertWForm" action="InsertWForm" method="post">
                <h3 style="margin-bottom: 10px;">기본 정보</h3>
                <div class="reg-title-wrap" style="margin-bottom: 15px;">
                    <div class="like-table-wrap">
                        <div class="sinfo-wrap-m">
                            <p>교육자명</p>
                            <h4 class="name-m"><i class="ri-user-star-line"></i>&nbsp;교육자</h4>
                        </div>
                        <div class="sinfo-wrap-m">
                            <p>강의명</p>
                            <h4 class="name-m"><i class="ri-file-user-line"></i>&nbsp;JAVA개발</h4>
                        </div>
                        <div class="sinfo-wrap-m">
                            <p>그룹명</p>
                            <h4 class="name-m"><i class="ri-file-user-line"></i>&nbsp;GROUP-A</h4>
                        </div>
                    </div>
                </div>
                <h3 style="margin-bottom: 10px;">학습자료등록</h3>
                <div class="reg-title-wrap">
                    <div class="group-naming-wrap-m">
                        <div class="group-name">
                            <label>학습자료명</label>
                            <input class="inp-reg-m" type="text">
                        </div>
                        <div class="group-name">
                            <label>학습자료내용</label>
                            <textarea class="wj-textarea"></textarea>
                        </div>
                        <div class="group-name">
                            <label>첨부파일</label>
                            <div class="date-wrap-m">
								<form action="upload_ok" method="post" enctype="multipart/form data">
									<label>첨부파일명<input type="text" value="JAVA입문용 교안">	</label><!-- 드래그앤드롭이 목표 -->
									첨부파일선택 : <input type="file" name="file" multiple="multiple">
								</form>	
							</div>
                        </div>
                    </div>

                </div>
                <div class="reg-btn-wrap">
                    <button type="submit">자료등록</button>
                </div>
                </form>
                
            </div>
        </div>
    </div>
</th:block>
</body>
</html>