<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 
※권한
1. dataWBoardT 에서 제목경로 클릭시 해당페이지로 넘어옴
 -->


<body>
	<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
		<div class="bon-wrap">
			<div class="page-title">
				<p>수업자료</p>
			</div>
			<div class="route-wrap">
				<a href="/dataW/dataWBoard">수업자료</a><p>/</p><a href="/dataW/dataWUpdate">수업자료수정</a>
			</div>
			<div class="bon-content-wrap">
				<div class="box-title-wrap">
					<h3>수업자료등록</h3>
				</div>
				<div class="content-box">
					<form name="actionForm" action="#" method="post" enctype="multipart/form-data">
						<h3 style="margin-bottom: 10px;">기본 정보</h3>
						<div class="reg-title-wrap" style="margin-bottom: 15px;">
							<div class="like-table-wrap">
								<div class="sinfo-wrap-m">
									<p>교육자명</p>
									<h4 class="name-m">
										<i class="ri-user-star-line"></i>&nbsp;교육자
									</h4>
								</div>
								<div class="sinfo-wrap-m">
									<p>강의명</p>
									<h4 class="name-m">
										<i class="ri-file-user-line"></i>&nbsp;JAVA개발
									</h4>
								</div>
								<div class="sinfo-wrap-m">
									<p>그룹명</p>
									<h4 class="name-m">
										<i class="ri-file-user-line"></i>&nbsp;GROUP-A
									</h4>
								</div>
							</div>
						</div>
						<h3 style="margin-bottom: 10px;">학습자료등록</h3>
						<div class="reg-title-wrap">
							<div class="group-naming-wrap-m">
								<div class="group-name">
									<label>학습자료명</label> <input class="inp-reg-m" type="text" name="GFILENAME" th:value="${vo.GFILENAME}">
								</div>
								<div class="group-name">
									<label>학습자료내용</label>
									<textarea class="wj-textarea" name="GFILECON">[[${vo.GFILECON}]]</textarea>
								</div>
								<div class="group-name">
									<label>첨부파일</label>
									<div class="date-wrap-m">
										<label for="fileInput">첨부파일선택:</label>
										<input type="file" id="fileInput" name="file">
									</div>
								</div>
							</div>
						</div>
						<div class="reg-btn-wrap">
							<button type="button" id="updateBtn" style="margin-right:10px">수정등록</button>
							<button type="button" id="deleteBtn">삭제</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>

	<script th:inline="javascript">
    // 파일 선택 이벤트 감지
    document.getElementById('fileInput').addEventListener('change', function(event) {
        // 선택된 파일 가져오기
        var file = event.target.files[0];

        // FormData 생성
        var formData = new FormData();
        formData.append('file', file);

        // 서버로 파일 전송 (AJAX 사용)
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'upload', true); // 업로드 URL 설정
        xhr.onload = function() {
            if (xhr.status === 200) {
                console.log('파일 업로드 성공');
            } else {
                console.error('파일 업로드 실패');
            }
        };
        xhr.send(formData);
    });
	</script>
	
	<script>
		var updateBtn = document.getElementById("updateBtn");
		updateBtn.addEventListener('click', function(){
			event.preventDefault();
			if(confirm("수정하시겠습니까?") == false){
				return;
			}
			document.actionForm.action = "updateForm";
			document.actionForm.submit();
		})
		
		var deleteBtn = document.getElementById("deleteBtn");
		deleteBtn.onclick=function(){
			event.preventDefault();
			if(confirm("삭제하시겠습니까?") == false){
				return;
			}
			document.actionForm.action = "deleteForm";
			document.actionForm.submit();
		}
	</script>

</body>
</html>
