<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 
※권한
ㄱ. 왼쪽 "수업자료" 클릭시 학생 권한일때 해당 페이지로 이동
ㄴ. 학생은 본인이 속한 그룹만 보입니다. 
 -->
 
 <!-- 
 ※수정할내용
1. 제목클릭시 올바른 경로이동(직접입력시 이동이 되나, 타고 들어가는데 오류)
2. 검색기능과 select의 구분기능
3. 페이지네이션
  -->


<body>
	<!-- content -->
	<th:block
		th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
		<div class="bon-wrap">
			<div class="page-title">
				<p>수업자료</p>
			</div>
			<div class="route-wrap">
				<a href="/dataW/dataWBoardS">수업자료</a><p>/</p><a href="/dataW/dataWBoardS">수업자료리스트</a>
			</div>
			<div class="bon-content-wrap">
				<div class="box-title-wrap">
					<h3>수업자료</h3>
				</div>
				<div class="content-box">
					<div class="top-inp">
						<p>그룹조회</p>
					</div>
					<div class="search-wrap-w" style="margin-bottom: 0; padding-bottom: 0; padding-left: 0;">
						<div class="top-line-btn-wrap" style="margin-bottom: 15px">
							<input type="text" placeholder="검색해주세요" style="width: 300px" name="keyword">
							<i class="ri-search-line"></i>
							<select class="sel-des" id="searchOption" style="width: 120px; padding: 0px;" onchange="setSearchOption()">
						        <option value="ALL">전체</option>
						        <option value="searchGname">강의명</option>
						        <option value="searchGroup_nm">그룹명</option>
							</select>
							<button type="submit" class="wj-button">검색</button>
						</div>
					</div>
					<div class="table-wrap">
						<table class="table-content">
							<thead class="co-head">
								<tr class="co-flex">
									<th class="coco crcr-0">자료번호</th>
									<th class="coco w2-1">강의명</th>
									<th class="coco w2-2">그룹명</th>
									<th class="coco w2-3">학습자료명</th>
									<th class="coco w2-4">학습자료내용</th>
									<th class="coco w2-5">등록일자</th>
								</tr>
							</thead>
							<tbody class="co-body">
								<tr class="co-flex" th:each="datavo, status : ${vo}">
									<td class="coco crcr-0 center-flex">[[${status.count}]]</td>
									<td class="coco w2-1">
									    <a th:href="@{'/dataW/dataWDetail?GNUMBER=' + ${datavo.GNUMBER}}">
									        <span th:text="${datavo.GNAME}"></span>
									    </a>
								    </td>
									<td class="coco w2-2" th:text="${datavo.GROUP_NM}"></td>
									<td class="coco w2-3" th:text="${datavo.GFILENAME}"></td>
									<td class="coco w2-4" th:text="${datavo.GFILECON}"></td>
									<td class="coco w2-5" th:text="${datavo.GREGDATE}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-wrap right-p">
						<div class="pagination">
							<div class="page">
								<ul>
<!-- 
									<li th:if="${pageVO.total != 0}">
									<a	th:href="@{dataWBoard(page=1, 
															  amount=${pageVO.amount},
															  searchGname=${pageVO.cri.searchGname},
															  searchGroup_nm=${pageVO.cri.searchGroup_nm},
															  startDate=${pageVO.cri.startDate},
															  endDate=${pageVO.cri.endDate}
															  )}">
									<i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
									<th:block th:if="${pageVO.prev}">
										<li style="margin-right: 5px;">
										<a th:href="@{dataWBoard(page=${pageVO.start - 1}, 
																  amount=${pageVO.amount},
																  searchGname=${pageVO.cri.searchGname},
																  searchGroup_nm=${pageVO.cri.searchGroup_nm},
																  startDate=${pageVO.cri.startDate},
																  endDate=${pageVO.cri.endDate}																	   
																  )}">
												<i class="fa fa-angle-left" aria-hidden="true"></i>
										</a></li>
									</th:block>

									<th:block th:each="page : ${pageVO.pageList}">
										<li th:class="${pageVO.page == page ? 'on' : '' }">
										<a th:href="@{dataWBoard(page=${page}, 
																  amount=${pageVO.amount},
																  searchGname=${pageVO.cri.searchGname},
																  searchGroup_nm=${pageVO.cri.searchGroup_nm},
 																  startDate=${pageVO.cri.startDate},
 																  endDate=${pageVO.cri.endDate}
																  startDate=${pageVO.cri.startDate},
																  endDate=${pageVO.cri.endDate}	
																  )}">[[${page}]]</a>
										</li>
									</th:block>

									<th:block th:if="${pageVO.next}">
										<li style="margin-left: 5px;">
										<a th:href="@{dataWBoard(page=${pageVO.end + 1},
																  amount=${pageVO.amount},
																  searchGname=${pageVO.cri.searchGname},
																  searchGroup_nm=${pageVO.cri.searchGroup_nm},
																  startDate=${pageVO.cri.startDate},
																  endDate=${pageVO.cri.endDate}
																  )}">
												<i class="fa fa-angle-right" aria-hidden="true"></i>
										</a></li>
									</th:block>

									<li th:if="${pageVO.total != 0}">
									<a th:href="@{dataWBoard(page=${pageVO.realEnd},
															  amount=${pageVO.amount},
															  searchGname=${pageVO.cri.searchGname},
															  searchGroup_nm=${pageVO.cri.searchGroup_nm},
															  startDate=${pageVO.cri.startDate},
															  endDate=${pageVO.cri.endDate}
															  )}">
											<i class="fa fa-angle-double-right" aria-hidden="true"></i>
									</a></li>
 -->
								</ul>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

	</th:block>

<script>
function dataWRegist(){
	window.location.href="/dataW/dataWRegist";
}

</script>

</body>
</html>