<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 
※페이지 상세내용
1. 레이아웃 수업자료 클릭시 권한 학생은 해당페이지로 이동합니다.
2. 강의명 클릭시 Detail페이지로 이동합니다.
 -->

<body>
	<th:block
		th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
		<div class="bon-wrap">
			<div class="page-title">
				<p>수업자료</p>
			</div>
			<div class="route-wrap">
				<a href="#">수업자료</a><p>/</p><a href="/dataW/dataWBoardS">수업자료리스트</a>
			</div>
			<form class="bon-content-wrap"  action="dataWBoardS" method="get">
				<div class="box-title-wrap">
					<h3>수업자료</h3>
				</div>
				<div class="content-box">
					<div class="top-inp">
						<p>그룹조회</p>
					</div>
					<div class="search-wrap-w" style="margin-bottom: 0; padding-bottom: 0; padding-left: 0;">
						<div class="top-line-btn-wrap" style="margin-bottom: 15px">
							<input type="text" placeholder="검색해주세요" style="width: 300px" name="title">
							<i class="ri-search-line"></i>
							
							<button type="submit" class="wj-button">검색</button>
						</div>
					</div>
					<div class="table-wrap">
						<table class="table-content">
							<thead class="co-head">
								<tr class="co-flex">
									<th class="coco crcr-0">자료번호</th>
									<th class="coco w2-1">제목</th>
									<th class="coco w2-2">강의명</th>
									<th class="coco w2-3">그룹명</th>
									<th class="coco w2-4">등록일자</th>
								</tr>
							</thead>
							<tbody class="co-body">
							<th:block th:each="datavo, status : ${datavo}">
								<tr class="co-flex" >
									<td class="coco crcr-0 center-flex">[[${status.count}]]</td>
									<td class="coco w2-1">
									    <a th:href="@{'/dataW/dataWDetail?gnumber=' + ${datavo.gnumber}}">
									        <span th:text="${datavo.gfilename}"></span>
									    </a>
								    </td>
									<td class="coco w2-2" th:text="${datavo.gname}"></td>
									<td class="coco w2-3" th:text="${datavo.group_nm}"></td>
									
									<td class="coco w2-4" th:text="${datavo.gregdate}"></td>
								</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					<div class="page-wrap right-p">
	                    <div class="pagination">
	                        <a th:href="@{dataWBoardS(page=1, title = ${pageVO.cri.title})}">&laquo;</a>
	                        <th:block th:each="page : ${pageVO.pageList}">
	                            <a th:class="${pageVO.page == page ? 'act':''}" th:href="@{dataWBoardS(page = ${page}, title = ${pageVO.cri.title})}">[[${page}]]</a>
	                        </th:block>
	                        <a th:href="@{dataWBoardS(page = ${pageVO.realEnd}, title = ${pageVO.cri.title})}"> &raquo;</a>
	                    </div>
                	</div>
				</div>

			</form>
		</div>

	</th:block>

<script>
function dataWRegist(){
	window.location.href="/dataW/dataWRegist";
}

</script>

</body>
</html>