<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<!-- content -->
	<th:block
		th:replace="~{./include/baselayout :: setContent( ~{ :: .bon-wrap } )}">
		<div class="bon-wrap">
			<div class="page-title">
				<p>수업자료</p>
			</div>
			<div class="route-wrap">
				<a href="/dataW/dataWBoard">수업자료</a><p>/</p><a href="/dataW/dataWBoard">수업자료리스트</a>
			</div>
			<div class="bon-content-wrap">
				<div class="box-title-wrap">
					<h3>수업자료</h3>
				</div>
				<div class="content-box">
					<div class="top-inp">
						<p>그룹조회</p>
						<div class="inp-wrap"
							style="margin-right: 10px; justify-content: end;">
							<button type="button" class="regbtn-des del-bt-des"
								style="margin-right: 10px;">삭제</button>
							<button type="button" class="regbtn-des" onclick="dataWRegist()">자료등록</button>
						</div>
					</div>
					<div class="search-wrap-m"
						style="margin-bottom: 0; padding-bottom: 0; padding-left: 0;">
						<div class="top-line-btn-wrap" style="margin-bottom: 15px">
						<select class="sel-des" style="width: 120px; padding: 0px;">
								<option>GROUP-A</option>
								<option>GROUP-B</option>
								<option>GROUP-C</option>
								<option>GROUP-D</option>
								<option>GROUP-E</option>
							</select>
							<button type="button" class="wj-button">조회</button>
						</div>
					</div>
					<div class="table-wrap">
						<table class="table-content">
							<thead class="co-head">
								<tr class="co-flex">
									<th class="coco crcr-0"><input type="checkbox"></th>
									<th class="coco crcr-0">자료번호</th>
									<th class="coco w2-1">강의명</th>
									<th class="coco w2-2">그룹명</th>
									<th class="coco w2-3">학습자료명</th>
									<th class="coco w2-4">학습자료내용</th>
									<th class="coco w2-5">등록일자</th>
								</tr>
							</thead>
							<tbody class="co-body">
								<tr class="co-flex">
									<td class="coco crcr-0 center-flex"><input type="checkbox"></td>
									<td class="coco crcr-0 center-flex">1</td>
									<td class="coco w2-1"><a href="#">JAVA개발</a></td>
									<td class="coco w2-2">GROUP-A</td>
									<td class="coco w2-3">JAVA입문서</td>
									<td class="coco w2-4">입문자를위한교안</td>
									<td class="coco w2-5">2024.04.01</td>
								</tr>
							</tbody>
							<tbody class="co-body">
								<tr class="co-flex">
									<td class="coco crcr-0 center-flex"><input type="checkbox"></td>
									<td class="coco crcr-0 center-flex">2</td>
									<td class="coco w2-1"><a href="#">JAVA개발</a></td>
									<td class="coco w2-2">GROUP-B</td>
									<td class="coco w2-3">JAVA초급서</td>
									<td class="coco w2-4">초급자를위한교안</td>
									<td class="coco w2-5">2024.04.02</td>
								</tr>
							</tbody>
							<tbody class="co-body">
								<tr class="co-flex">
									<td class="coco crcr-0 center-flex"><input type="checkbox"></td>
									<td class="coco crcr-0 center-flex">3</td>
									<td class="coco w2-1"><a href="#">JAVA개발</a></td>
									<td class="coco w2-2">GROUP-C</td>
									<td class="coco w2-3">JAVA중급서</td>
									<td class="coco w2-4">중급자를위한교안</td>
									<td class="coco w2-5">2024.04.03</td>
								</tr>
							</tbody>
							<tbody class="co-body">
								<tr class="co-flex">
									<td class="coco crcr-0 center-flex"><input type="checkbox"></td>
									<td class="coco crcr-0 center-flex">4</td>
									<td class="coco w2-1"><a href="#">JAVA개발</a></td>
									<td class="coco w2-2">GROUP-D</td>
									<td class="coco w2-3">JAVA고급서</td>
									<td class="coco w2-4">고급자를위한교안</td>
									<td class="coco w2-5">2024.04.04</td>
								</tr>
							</tbody>
							<tbody class="co-body">
								<tr class="co-flex">
									<td class="coco crcr-0 center-flex"><input type="checkbox"></td>
									<td class="coco crcr-0 center-flex">5</td>
									<td class="coco w2-1"><a href="#">JAVA개발</a></td>
									<td class="coco w2-2">GROUP-E</td>
									<td class="coco w2-3">JAVA전문서</td>
									<td class="coco w2-4">전문가를위한교안</td>
									<td class="coco w2-5">2024.04.05</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-wrap right-p">
						<div class="pagination">
							<a href="#">&laquo;</a>
							<a href="#">1</a>
							<a href="#" class="act">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#">6</a>
							<a href="#">&raquo;</a>
						</div>
					</div>

				</div>

			</div>
		</div>

	</th:block>

<script>
function dataWRegist(){
	window.location.href="/dataW/dataWRegist";
}

</script>

</body>
</html>