<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.groups.membersZ.service.ApplyMapper">

    <select id="applymemberlist" resultType="MemberVO">
        SELECT * FROM MEMBERS LEFT JOIN APPROVALFILE
            ON MEMBERS.LOGIN_ID = APPROVALFILE.LOGIN_ID where ROLE = 'ROLE_FREE'
    </select>



    <update id="approveteacher">
        UPDATE MEMBERS SET ROLE = 'ROLE_TEACHER', TIER = 'FREETIER' WHERE LOGIN_ID = #{loginId}
    </update>




</mapper>