<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.groups.membersZ.service.ApplyMapper">

    <select id="applymemberlist" resultType="MemberVO">
        select * from members where ROLE = 'ROLE_FREE'
    </select>

    <update id="approveteacher">
        update members set ROLE = 'ROLE_TEACHER', TIER = 'PRETIER' where login_id = #{loginId}
    </update>


</mapper>