<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.groups.dataW.service.DataWMapper">
	
	<select id="getList" resultType="DataVO">
    select g.*,
           gl.group_nm
    from (select * from GROUPFILE where login_id = #{login_id} ) g
    left join GROUP_LIST gl on g.group_no = gl.group_no
    <where>
    <if test="cri.title != '' and cri.title != null">
            and gfilename like concat('%',#{cri.title},'%')
       </if>
       <if test="cri.group_no != '' and cri.group_no != null">
            and g.group_no = #{cri.group_no}
        </if>
        </where>
    order by g.gregdate desc
    limit #{cri.pageStart}, #{cri.amount}
</select>

<select id="getList2" resultType="DataVO">

	select g.*,
           gl.group_nm
    from (select * from GROUPFILE where group_no = (select group_no from group_join where login_id = #{login_id} and APRV_YN = "Y") ) g
    left join GROUP_LIST gl on g.group_no = gl.group_no
     <where>
    <if test="cri.title != '' and cri.title != null">
            and gfilename like concat('%',#{cri.title},'%')
       </if>
       </where>
       limit #{cri.pageStart}, #{cri.amount}
</select>
	
	<insert id="regist">
		insert into GROUPFILE(login_id,
							  gfilename,
							  gfilecon,
							  group_no,
							  gname
						      ) 
		values(#{login_id},
			   #{gfilename},
			   #{gfilecon},
			   #{group_no},
			   #{gname}
			   )
	</insert>
	
	<select id="getDetail" resultType="DataVO">
		select tt.*,gg.group_nm from
    (select a.*,m.korn_flnm from (
    select *
		from GROUPFILE
		where gnumber = #{gnumber}) a
        left join MEMBERS m
        on a.login_id = m.login_id) tt
        left join GROUP_LIST gg
        on tt.group_no = gg.group_no;
	</select>
	
	<select id="getfile" resultType="UploadVO">
		select * from FILEUPLOAD where gnumber = #{gnumber}
	</select>
	
	<update id="update">
		update GROUPFILE set
		gfilename = #{gfilename},
		gfilecon = #{gfilecon}
		where gnumber = #{gnumber}		
	</update>
	
	<delete id="delete">
		delete from GROUPFILE
		where gnumber = #{gnumber}
	</delete>
	
	<select id="getTotal" resultType="int">
		select count(*) as total
		from GROUPFILE
		where login_id = #{login_id}
		
    <if test="cri.title != '' and cri.title != null">
            and gfilename like concat('%',#{cri.title},'%')
       </if>
       <if test="cri.group_no != '' and cri.group_no != null">
            and group_no = #{cri.group_no}
        </if>
       
	</select>
	
	<insert id="upload">
		<selectKey resultType="int" keyProperty="gnumber" order="BEFORE">
            select max(gnumber) from GROUPFILE
            where login_id = #{login_id}
        </selectKey>
		insert into FILEUPLOAD(gnumber,
							   filename,
							   filepath,
							   fileurl,
							   uuid
		)
		values(#{gnumber},
			   #{filename},
			   #{filepath},
			   #{fileurl},
			   #{uuid}
		)
	</insert>
	
	<select id="getgroupname" resultType="GroupVO">
        select group_nm, group_no from group_list where login_id = #{login_id};
    </select>

</mapper>