<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.groups.homework.HomeworkMapper">
    <!-- 예시 파일입니다  namespace에 com.project.groups 까지는 동일하고 뒤에는 Mapper경로 넣어주면 됩니다. -->

    <insert id="homeworkregForm">
        insert into HOMEWORK ( login_id, homework_level, homework_title, homework_content, homework_hint, homework_language, homework_time, category)
        values (#{login_id}, #{homework_level}, #{homework_title}, #{homework_content}, #{homework_hint}, #{homework_language}, #{homework_time} ,#{category})
    </insert>

    <insert id="regex">
        <selectKey resultType="int" keyProperty="homework_no" order="BEFORE">
            select max(homework_no) from HOMEWORK
            where login_id = #{login_id}
        </selectKey>
        insert into EX(
        input,
        output,
        ex_ct,
        homework_no
        )
        values (
        #{exvo.input},
        #{exvo.output},
        #{exvo.ex_ct},
        #{homework_no}
        )
    </insert>

    <insert id="regtest">
        <selectKey resultType="int" keyProperty="homework_no" order="BEFORE">
            select max(homework_no) from HOMEWORK
            where login_id = #{login_id}
        </selectKey>
        insert into TEST(
        test_input,
        test_output,
        homework_no
        )
        values (
        #{testvo.test_input},
        #{testvo.test_output},
        #{homework_no}
        )
    </insert>

    <select id="homeworkvoselect" resultType="HomeWorkVO">
        SELECT * FROM HOMEWORK WHERE HOMEWORK_NO = #{homework_no};
    </select>

    <resultMap id="exVOResultMap" type="ExVO">
        <id property="ex_no" column="ex_no" />
        <result property="input" column="input" />
        <result property="output" column="output" />
        <result property="ex_ct" column="ex_ct" />
        <result property="homework_no" column="homework_no" />
    </resultMap>

    <select id="listexvoselect" resultMap="exVOResultMap">
        SELECT * FROM EX WHERE HOMEWORK_NO = #{homework_no};
    </select>

    <resultMap id="testVOResultMap" type="TestVO">
        <id property="test_no" column="test_no" />
        <result property="test_input" column="test_input" />
        <result property="test_output" column="test_output" />
        <result property="homework_no" column="homework_no" />
    </resultMap>
    <select id="listtestvoselect" resultMap="testVOResultMap">
        SELECT * FROM TEST WHERE HOMEWORK_NO = #{homework_no};
    </select>

    <!-- 교육자 숙제리스트 조회 -->

    <select id="gethomeworklist" resultType="HomeworkVO">
        select a.*, b.average_score , b.percentage
        from
        (select * from HOMEWORK
        where login_id = #{login_id}) a
        left join
        (SELECT homework_no, ROUND(AVG(RECORD_SCORE)) AS average_score,  Round(SUM(CASE WHEN RECORD_SCORE = 100 THEN 1 ELSE 0 END)/count(*)*100) AS percentage
        FROM HOMEWORKRECORD
        GROUP BY homework_no) b
        on a.homework_no = b.homework_no
               <where>
        <if test="cri.title != '' and cri.title != null">
            and homework_title like concat('%',#{cri.title},'%')
        </if>
               </where>
                 order by homework_register desc
        limit #{cri.pageStart}, #{cri.amount}
    </select>

    <!-- 내가만든 숙제 총량 조회 -->
    <select id="gethomeworktotal" resultType="int">
        select count(*) as total
        from HOMEWORK
        where login_id =#{login_id}
        <if test="cri.title != '' and cri.title != null">
            and homework_title like concat('%',#{cri.title},'%')
        </if>
    </select>


    <!-- 숙제 전송 -->
    <insert id="sendhomework">
        insert into HOMEWORKSUBMIT (homework_no, login_id, homework_score,homework_st, homework_enddate)
        values (#{homework_no}, #{login_id}, 0 , "미제출", #{homework_enddate})
    </insert>


    <!-- 학생 숙제 조회 -->
    <select id="getmyhomeworktotal" resultType="int">
        select count(*) from (select * from HOMEWORKSUBMIT where login_id = #{login_id}) s
            left join HOMEWORK h
                on h.homework_no= s.homework_no
       <where>
        <if test="cri.title != '' and cri.title != null">
            and homework_title like concat('%',#{cri.title},'%')
        </if>
       </where>
    </select>

    <!-- 교육자가 내숙제 조회 -->

    <select id="getmyhomeworklist" resultType="HomeworkVO">
        select s.*, h.homework_title, h.homework_language, h.HOMEWORK_LEVEL, h.category
        from (select * from HOMEWORKSUBMIT where login_id = #{login_id}) s
            left join HOMEWORK h
                on h.homework_no= s.homework_no
        <where>
        <if test="cri.title != '' and cri.title != null">
            and homework_title like concat('%',#{cri.title},'%')
        </if>
        </where>
        order by submit_date desc
        limit #{cri.pageStart}, #{cri.amount}
    </select>

    <!-- 받은 숙제들 검색 또는 조회 -->

    <select id="getstdhome" resultType="GroupVO">
        select a.*, b.group_nm
        from (
        select m.*, j.group_no
        from GROUP_JOIN j
        left join MEMBERS m on j.login_id = m.login_id
        where APRV_YN = "Y"
        ) a
        join (
        select group_no, group_nm
        from GROUP_LIST
        where login_id = #{login_id}
        <if test="group_nm != null and group_nm != ''">
            and group_nm = #{group_nm}
        </if>
        ) b
        on a.group_no = b.group_no
        where not exists (
        select 1
        from HOMEWORKSUBMIT
        where homework_no = #{homework_no}
        and login_id = a.login_id
        );
    </select>

    <!-- 교육자의 그룹 이름들 조회 -->

    <select id="getgroupnames" resultType="GroupVO">
        select group_nm from GROUP_LIST where login_id = #{login_id};
    </select>

    <!-- 교육자가 내준 숙제를 풀었을경우 숙제 제출 업데이트 -->

    <update id="submitupdate">
        update HOMEWORKSUBMIT
        set HOMEWORK_ST = "제출", homework_recieve = now(), HOMEWORK_SCORE = #{score}
        where login_id = #{login_id} and homework_no = #{homework_no};
    </update>

    <!-- 학생이 숙제를 풀면 해당숙제의 이력 등록 -->

    <insert id="recordhomework">
        insert into HOMEWORKRECORD (record_code, homework_no, login_id,record_score)
        values (#{code}, #{homework_no}, #{login_id}, #{score})
    </insert>
    <!-- 해당 숙제 학생의 최고점수 조회 -->

    <select id="getscore" resultType="INT">
        select homework_score from HOMEWORKSUBMIT where homework_no = #{homework_no} and login_id = #{login_id}
    </select>

    <!-- 학생 점수 갱신 -->

    <update id="updatepoint">
        update MEMBERS set score = score + #{point} where login_id = #{login_id}
    </update>

    <!-- 해당 숙제를 푼 이력정보들 조회  -->

    <select id="getrecord" resultType="HomeworkVO">
        select * from HOMEWORKRECORD where homework_no = #{homework_no}
    </select>

    <!-- 학생의 숙제정보 조회 -->

    <select id="stdhomeworkinfo" resultType="HomeworkVO">
        select a.*,b.HOMEWORK_LANGUAGE, b.HOMEWORK_LEVEL, b.HOMEWORK_TITLE,b.category from (select * from HOMEWORKSUBMIT where login_id = #{login_id}) a
                                                                                    left join HOMEWORK b
                                                                                              on a.homework_no = b.homework_no;
    </select>



    <!-- 숙제 카테고리 -->

    <select id="getcategory" resultType="CategoryVO">
        select * from CATEGORIES where login_id = #{login_id}
    </select>
    <insert id="regcategory">
        insert into CATEGORIES (login_id, my_category) values (#{login_id}, #{my_category})
    </insert>
    <delete id="deletecategory">
        delete from CATEGORIES where login_id = #{login_id} and my_category = #{my_categoryd};
    </delete>


    <!-- -->

    <select id="solutionp" resultType="int">
        select count(*) from HOMEWORKSUBMIT where login_id = #{login_id} and HOMEWORK_ST = "제출";
    </select>

    <select id="notsolutionp" resultType="HomeworkVO">
        select a.*, b.homework_title from ( select * from HOMEWORKSUBMIT where login_id = #{login_id} and HOMEWORK_ST = "미제출") a left join HOMEWORK b on a.homework_no = b.homework_no;
    </select>



    <!-- 학생 메인페이지 숙제 이력정보 -->
    <select id="myrecord" resultType="HomeworkVO">
        select b.*,a.record_code, a.record_score, a.record_date from
                (select * from HOMEWORKRECORD where login_id = #{login_id} ) a
                    left join HOMEWORK b
                              on a.homework_no = b.homework_no
        <where>
            <if test="cri.title != '' and cri.title != null">
                and homework_title like concat('%',#{cri.title},'%')
            </if>
        </where>
        order by RECORD_DATE desc
        limit #{cri.pageStart}, #{cri.amount}
    </select>

    <select id="myrecordtotal" resultType="int">
        select count(*) from
                (select * from HOMEWORKRECORD where login_id = #{login_id} ) a
                    left join HOMEWORK b
                              on a.homework_no = b.homework_no
        <where>
            <if test="cri.title != '' and cri.title != null">
                and homework_title like concat('%',#{cri.title},'%')
            </if>
        </where>
    </select>


    <select id="hwinfo" resultType="HomeworkVO">
        select * from HOMEWORK where homework_no = #{homework_no}
    </select>

    <delete id="hwdel">
        delete from HOMEWORK where homework_no = #{homework_no}
    </delete>

    <update id="homeworkup">
        update HOMEWORK set homework_content = #{homework_content}, homework_hint = #{homework_hint}, homework_level = #{homework_level}, homework_time = ${homework_time}, category = #{category} where homework_no = #{homework_no}
    </update>



</mapper>