<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.groups.qnaW.service.QnaWMapper">
	
	<select id="getList" resultType="QnaVO">
	    select * from 
	    (select * from GROUP_LIST where login_id = #{login_id}) a
	    left join (select q.*, m.korn_flnm from (select qq.*, cc.ccontent from QNABOARD qq left join COMMENT cc on qq.qnumber = cc.qnumber ) q left join MEMBERS m on q.login_id = m.login_id) b
	    on a.group_no = b.group_no
	    	<where>
		    	<if test="cri.title != '' and cri.title != null">
		            and qtitle like concat('%',#{cri.title},'%')
		        </if>
	       </where>
	</select>
	
	<select id="getList2" resultType="QnaVO">
		select a.*, b.group_nm from 
	    (select t.*, m.korn_flnm from (select qq.*, cc.ccontent from (select * from QNABOARD  where login_id = #{login_id}) qq left join COMMENT cc on qq.qnumber = cc.qnumber) t left join MEMBERS m on t.login_id = m.login_id) a 
	    left join  GROUP_LIST b
	    on a.group_no = b.group_no
		    <where>
			    <if test="cri.title != '' and cri.title != null">
		            and qtitle like concat('%',#{cri.title},'%')
			    </if>
		    </where>
	</select>
	
	<select id="getgroupinfo" resultType="GroupVO">
		select a.*, b.group_nm, b.korn_flnm from
		(select * from GROUP_JOIN where login_id = #{login_id} and aprv_yn = "Y") a
		left join (select g.group_nm, m.korn_flnm, g.group_no from GROUP_LIST g left join MEMBERS m on g.login_id = m.login_id )b
		on a.group_no = b.group_no;
	</select>
	
	<insert id="regist">
		insert into QNABOARD(qtitle,
							 qcontent,
							 group_no,
							 login_id
							 )
		values(#{qtitle},
			   #{qcontent},
			   #{group_no},
			   #{login_id}
			   )
	</insert>
	
	<select id="getDetail" resultType="QnaVO">
		select c.*, d.korn_flnm from
		(select a.*, b.tname, b.group_nm from
		(select q.group_no,q.login_id, q.qnumber, q.qtitle, q.qcontent, c.ccontent from QNABOARD as q
				left join (select * from COMMENT where qnumber = #{qnumber}) as c on q.login_id = c.login_id
				where q.qnumber = #{qnumber})a 
		left join(select g.group_no, g.group_nm, m.korn_flnm as tname from GROUP_LIST g left join MEMBERS m on g.login_id = m.login_id) b
		on a.group_no = b.group_no) c
		left join MEMBERS d
		on c.login_id = d.login_id;
	</select>
	
	<insert id="update">
		insert into COMMENT
		(ccontent, qnumber, login_id)
		values(#{ccontent},
				#{qnumber},
				#{login_id})
	</insert>
	
	<delete id="delete">
		delete from QNABOARD
		where qnumber = #{qnumber}
	</delete>
	
	<select id="getTotal" resultType="int">
		select count(*) as total
		from QNABOARD
		<if test="searchLogin_id != '' and searchLogin_id != null">
			and m.login_id like concat('%', #{searchLogin_id}, '%')
		</if>
		
		<if test="searchKorn_flnm != '' and searchKorn_flnm != null">
			and m.korn_flnm like concat('%', #{searchKorn_flnm}, '%')
		</if>
		
		<if test="searchQtitle != '' and searchQtitle != null">
			and q.qtitle like concat('%', #{searchQtitle}, '%')
		</if>
		limit 0, 10
	</select>

</mapper>